<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/1999/xhtml/index.html">
<head><script type="text/javascript" src="./_static/js/bundle-playback.js" charset="utf-8"></script>
<script type="text/javascript" src="./_static/js/wombat.js" charset="utf-8"></script>
<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>
<script type="text/javascript" src="./_static/js/ruffle/ruffle.js"></script>
<script type="text/javascript">
    __wm.init("/web/index.html");
  __wm.wombat("/*Maupin+1980/index.html","20150512152639","./index.html","web","/_static/index.html",
	      "1431444399");
</script>
<link rel="stylesheet" type="text/css" href="./_static/css/banner-styles.css" />
<link rel="stylesheet" type="text/css" href="./_static/css/iconochive.css" />
<!-- End Wayback Rewrite JS Include -->

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="search" href="./space/opensearch/index.html" type="application/opensearchdescription+xml" title="Wikispaces Search (BartonHistory Wiki)"/>
<link rel="alternate" type="application/x-wiki" title="Edit This Page" href="../page/edit/*Maupin+1980/index.html"/>
<link rel="alternate" title="BartonHistory - All Changes" href="./wiki/xmla/index.html" type="application/rss+xml"/>
<link rel="alternate" title="bartonhistory : *Maupin 1980 - Discussion" href="./message/xml/%2AMaupin+1980/index.html" type="application/rss+xml"/>
<link rel="alternate" title="bartonhistory : *Maupin 1980 - Edits" href="./page/xml/%2AMaupin+1980/index.html" type="application/rss+xml"/>
<link rel="microsummary" href="./page/microsummary/%2AMaupin+1980/edits"/>
<link rel="microsummary" href="./page/microsummary/%2AMaupin+1980/messages"/>
<script type="text/javascript">
  
if (typeof ws === 'undefined') ws = {};
ws.context = {
  instance: {
    id: '1',
    url: 'wikispaces.com',
    isMain: true,
    supportsGoogleDocs: false,
    isTesClassroom: false,
  },
  user: {
    id: '',
    username: '',
    status: '',
    locale: 'en',
    imageUrlPrefix: '/i/user_none_/index.html',
    isTeacher: false,
    canAdministerWiki: false,
  },
  wiki: {
    id: '4761411',
    name: 'bartonhistory',
    text: 'BartonHistory',
    module: 'B',
    isClassroom: false,
    isTesClassroom: false
    ,defaultSpaceId: 4761411
    ,isWwwWiki: false
  },
  project: {
    id: '4761411',
    name: ''
  },
  space: {
    id: '4761411',
    name: 'bartonhistory',
    isDefaultSpace: true,
    isDefaultTemplate: false
  },

  environment_name: 'prod',

  path: {
    object: 'page',
    method: 'view',
    page: '*Maupin 1980',
    id: ''
  },

  settings: {
    main_domain: 'wikispaces.com',
    session_url: '/1/index.html',
    asset_url_prefix: '// legacy javascript API variables, use the above instead
var wikispaces_isUserLoggedIn = !!ws.context.user.id;
var wikispaces_isMain = ws.context.instance.isMain;
var wikispaces_username = ws.context.user.username;
var wikispaces_spaceName = ws.context.space.name;
var wikispaces_projectName = ws.context.project.name;
var wikispaces_wikiName = ws.context.wiki.name;
var wikispaces_wikiText = ws.context.wiki.text;
var wikispaces_isDefaultSpace = ws.context.space.isDefaultSpace;
var wikispaces_method = ws.context.path.method;
var wikispaces_object = ws.context.path.object;
var wikispaces_page = ws.context.path.page;
var wikispaces_id = ws.context.path.id;
var wikispaces_domain = ws.context.instance.url;
var wikispaces_isUserOrganizer = false;
var wikispaces_main_domain = ws.context.settings.asset_url_prefix;
var wikispaces_asset_url_prefix = ws.context.settings.asset_url_prefix;
var wikispaces_beta_features = ws.context.settings.beta_features;
var wikispaces_isMobileSite = ws.context.settings.isMobileSite;
var wikispaces_isUploadCapable = ws.context.settings.isUploadCapable;
var wikispaces_can_discuss = ws.context.settings.can_discuss;
var wikispaces_has_gdocs = ws.context.settings.has_gdocs;

</script><title>BartonHistory - *Maupin 1980</title>
<meta charset="utf-8"/>
<link rel="apple-touch-icon" sizes="144x144" href="https://www.wikispaces.com/_/z6371z4x/i/logo-144.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="https://www.wikispaces.com/_/j5j77xz3/i/logo-114.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="https://www.wikispaces.com/_/vq8j5432/i/logo-72.png"/>
<link rel="apple-touch-icon" href="https://www.wikispaces.com/_/38515190/i/logo-57.png"/>
<link rel="shortcut icon" href="https://www.wikispaces.com/_/55v9k02z/i/logo-16.png"/>
<style type="text/css">
/* Standard theme styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.ws-theme-header-inner,
.ws-theme-body-inner,
.ws-theme-footer-inner,
.ws-theme-content-inner,
.ws-theme-sidebar-inner {
  position: relative;
}
.ws-theme-header-inner:after,
.ws-theme-body-inner:after,
.ws-theme-footer-inner:after,
.ws-theme-content-inner:after,
.ws-theme-sidebar-inner:after,
.ws-theme-menu-inner:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ws-theme-content, .ws-theme-sidebar {
  overflow-x: auto;
}
.ws-theme-footer {
  text-align: right;
}
.ws-theme-footer a, .ws-theme-footer a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
}
@media (min-width: 992px) {
  .ws-theme-container {
    width: 970px;
  }
  .ws-theme-content {
    width: 770px;
    min-height: 496px;
  }
}
@media (min-width: 1200px) {
  .ws-theme-container {
    width: 1170px;
  }
  .ws-theme-content {
    width: 970px;
    min-height: 600px;
  }
}
/* End standard theme styles */
</style>
<style type="text/css">
/* Theme-specific styles */
body {
  background-color: #DEDEDE;
}

.ws-theme-container {
  margin: 0 5px;
  width: auto;
}

.ws-theme-header .WikiSearch .WikiSearchInput,
.ws-theme-sidebar .WikiSearch .WikiSearchInput,
.ws-theme-footer .WikiSearch .WikiSearchInput {
  width: 100%;
}

.ws-theme-header a,
.ws-theme-header a:hover,
.ws-theme-sidebar a,
.ws-theme-footer a {
  color: inherit;
  text-decoration: none;
}
.ws-theme-sidebar a:hover,
.ws-theme-footer a:hover {
  text-decoration: underline;
}
.ws-theme-header img,
.ws-theme-sidebar img,
.ws-theme-footer img {
  border: none;
}

.ws-theme-content,
.ws-theme-sidebar {
  overflow-x: visible;
}

.ws-theme-header-inner,
.ws-theme-content-inner,
.ws-theme-menu-inner,
.ws-theme-footer-inner {
  padding: 15px;
  border-radius: 8px;
}

.ws-theme-header,
.ws-theme-sidebar {
  display: none;
}

.ws-theme-header,
.ws-theme-footer {
  color: #FFF;
}

.ws-theme-header-inner,
.ws-theme-footer-inner {
  background-color: #000000;
}

.ws-theme-body-inner {
  padding: 7px 0;
}

.ws-theme-content-inner {
  background-color: #FFF;
}

.ws-theme-footer {
  text-align: left;
}
.ws-theme-footer-inner {
  padding: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ws-theme-footer .WikiLicense img {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  .ws-theme-container {
    margin: 0 10px;
    width: auto;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }

  .ws-theme-header-inner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .ws-theme-body-inner {
    padding: 15px 0;
  }

  .ws-theme-content {
    width: auto;
    margin-left: 200px;
    padding-left: 15px;
    float: none;
  }
  .ws-theme-content-inner {
    float: left;
    width: 100%;
  }

  .ws-theme-sidebar {
    margin-top: -15px;
    color: #000000;
  }
  .ws-theme-sidebar .ws-theme-menu {
    margin-top: 15px;
  }
  .ws-theme-sidebar .ws-theme-menu-inner {
    padding: 10px;
    background-color: #333333;
  }
  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .WikispacesNavbar {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
  .ws-theme-sidebar .ws-theme-nav-edit a {
    color: inherit;
  }
}
/* End theme-specific styles */
</style>
<link rel="stylesheet" href="https://www.wikispaces.com/stylesheet/viewi/217420326D.css" type="text/css"/>
<link rel="stylesheet" href="https://www.wikispaces.com/s/nogz/9q897620-internal-bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="https://www.wikispaces.com/s/nogz/vz033906-internal.css" type="text/css"/>
<script src="https://www.wikispaces.com/s/nogz/j91xzz3x-top.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];

  var wsGoogleAccount = 'UA-80504-1';
  _gaq.push(['_setAccount', wsGoogleAccount]);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_setDomainName', 'wikispaces.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setCustomVar', 2, 'Authenticated', 'Guest', 2]);
  _gaq.push(['_trackPageview']);
</script></head>
<body><a href="#WikiContent" class="hidden sr-only sr-only-focusable">Skip to main content</a><div id="js-fixed-header-holder" class="fixed"><div class="WikispacesContent WikispacesBs3" role="banner">
      
    <div class="ws-main-top-nav visible-xs">
    <div class="navbar navbar-static-top" style="margin-bottom: 0;">
      <div class="container">
                <div class="navbar-header">
          <div class="visible-xs pull-left">
            <a href="../space/menu/index.html" class="WikispacesDialogLink btn navbar-btn">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="visible-xs pull-right js-globalnav-popover-container">
                        <a href="./site/signin/index.html" class="btn navbar-btn ws-mobile-guest-username js-globalnav-popover-trigger">
              guest
            </a>
                        <div class="hidden js-globalnav-popover-content">
              <div class="WikispacesContent WikispacesBs3">
                <div class="WikiInternalHeaderNav noHide">
  <div class="WikiInternalHeaderNavMenu">
                          
                  <span class="WikiInternalHeaderNavMenuArea"><a href="./user/join/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="./index.html">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="./site/signin/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div>              </div>
            </div>
          </div>
          <div class="ws-navbar-middle-xs">
            <div class="navbar-brand" role="navigation">
              <a href="./index.html" class="ws-logo"></a>
              <i class="fa fa-angle-right"></i>
              <a href="./index.html">BartonHistory</a>
                              <i class="fa fa-angle-right"></i> <a href="./home/index.html">Home</a>
              
            </div>
          </div>
                    <form action="../search/view/index.html" method="post" class="navbar-form ws-include-xs pull-left ws-navbar-search hidden-xs" role="search"><input type="text" class="form-control search-query" name="q" value="" placeholder="Search"/> </form>
                  </div>
      </div>
    </div>
  </div>
      <div class="hidden-xs"><div class="WikiInternalHeaderNav WikiElement floating">
  <div class="WikiInternalHeaderNavMenu">
                                    <span class="WikiInternalHeaderNavMenuArea guestUserName">guest</span><span class="slideMarker divider">|</span>
        
                  <span class="WikiInternalHeaderNavMenuArea"><a href="./user/join/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="./index.html">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="./site/signin/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div></div>
  </div></div><div id="js-fixed-header-offset">
<header class="ws-theme-header" role="banner">
  <div class="ws-theme-container">
    <div class="ws-theme-header-inner">
      <a href="./index.html" class="WikiLogo WikiElement"><img src="../space/showlogo/1430298145/logo.png/index.html" alt="BartonHistory"/></a>    </div>
  </div>
</header>

<div class="ws-theme-body">
  <div class="ws-theme-container">
    <div class="ws-theme-body-inner">
      <nav class="ws-theme-sidebar" role="navigation">
        <div class="ws-theme-sidebar-inner">
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <ul class="WikiActions WikiElement WikiControls">
    <li id="WikiActionHome"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="./index.html"><i class="fa fa-home fa-fw"></i></a><a href="./index.html">Wiki Home</a></div></li>
    <li id="WikiActionChanges"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../wiki/changes/index.html"><i class="fa fa-clock-o fa-fw"></i></a><a href="../wiki/changes/index.html">Recent Changes</a></div></li>
    <li id="WikiActionPagesAndFiles"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../space/content/index.html"><i class="fa fa-file-text-o fa-fw"></i></a><a href="../space/content/index.html">Pages and Files</a></div></li>
    <li id="WikiActionMembers"><div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="../wiki/members/index.html"><i class="fa fa-user fa-fw"></i></a><a href="../wiki/members/index.html">Members</a></div></li>
</ul>
              <form action="../search/view/index.html" method="post" class="WikiSearch WikiElement" role="search"><input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Search"/> </form>            </div>
          </div>
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <div class="WikiCustomNav WikiElement wiki"><span style="color: #c0c0c0;"><a class="wiki_link" href="../Home/index.html">Home</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../The+Barton+name/index.html">The Barton name</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Royal+ancestry/index.html">Royal ancestry</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Famous+connections/index.html">Famous connections</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Living+connections/index.html">Living connections</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Coats+of+Arms/index.html">Coats of arms</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../DNA/index.html">DNA</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Mysteries/index.html">Mysteries</a></span><br/>
<span style="color: #808080;"><a class="wiki_link" href="../To+Do+list/index.html">To Do list</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Living+connections/index.html">Contact me</a></span><br/>
<br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../People/index.html">All people</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Places/index.html">All places</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Objects/index.html">All objects</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Sources/index.html">All sources</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Contents/index.html">All pages</a></span><br/>
<br/>
<span style="color: #c0c0c0;"><u>SELECTED PAGES</u></span><br/>
<span style="color: #c0c0c0;"><!-- ws:start:WikiTextIncludeRule:00:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/include/pageList?w=200&amp;h=100&quot; class=&quot;WikiMedia WikiMediaInclude&quot; id=&quot;wikitext@@include@@component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;favourite&amp;quot; limit=&amp;quot;40&amp;quot;&quot; title=&quot;Include pageList: component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;favourite&amp;quot; limit=&amp;quot;40&amp;quot;&quot; /&gt; --><div class="includeBody"><ol class="includePageList">
              <li class="includePageListPage"><a href="./%2ABernard+Barton+the+Quaker+Poet+Correspondence/index.html" class="includePageListPageUrl">*Bernard Barton the Quaker Poet Correspondence</a></li>
                  <li class="includePageListPage"><a href="./%2ABilly+Barton+Diary+and+Letters/index.html" class="includePageListPageUrl">*Billy Barton Diary and Letters</a></li>
                  <li class="includePageListPage"><a href="./%2ABroadbent+1976/index.html" class="includePageListPageUrl">*Broadbent 1976</a></li>
                  <li class="includePageListPage"><a href="./%2ACecil+Barton+Mountaineering+Journals/index.html" class="includePageListPageUrl">*Cecil Barton Mountaineering Journals</a></li>
                  <li class="includePageListPage"><a href="./%2ADougan+1826/index.html" class="includePageListPageUrl">*Dougan 1826</a></li>
                  <li class="includePageListPage"><a href="./%2AEmily+Dougan%27s+1856+Sketchbook/index.html" class="includePageListPageUrl">*Emily Dougan&#039;s 1856 Sketchbook</a></li>
                  <li class="includePageListPage"><a href="./%2AJohn+Barton+the+Elder+Correspondence/index.html" class="includePageListPageUrl">*John Barton the Elder Correspondence</a></li>
                  <li class="includePageListPage"><a href="./%2AMemoirs+of+Emily+Elliott/index.html" class="includePageListPageUrl">*Memoirs of Emily Elliott</a></li>
                  <li class="includePageListPage"><a href="./%2AMemoirs+of+John+Barton/index.html" class="includePageListPageUrl">*Memoirs of John Barton</a></li>
                  <li class="includePageListPage"><a href="./%2ANicolson+et+al+1777/index.html" class="includePageListPageUrl">*Nicolson et al 1777</a></li>
                  <li class="includePageListPage"><a href="./%2ARonald+Barton+Diary+and+Letters/index.html" class="includePageListPageUrl">*Ronald Barton Diary and Letters</a></li>
                  <li class="includePageListPage"><a href="./Ann+%28d.1748%29" class="includePageListPageUrl">Ann (d.1748)</a></li>
                  <li class="includePageListPage"><a href="./Barton+%28hamlet+%26+parish%29/index.html" class="includePageListPageUrl">Barton (hamlet &amp; parish)</a></li>
                  <li class="includePageListPage"><a href="./Bernard+Barton+of+Carlisle+%281728-1773%29/index.html" class="includePageListPageUrl">Bernard Barton of Carlisle (1728-1773)</a></li>
                  <li class="includePageListPage"><a href="./Bernard+Barton+the+Quaker+poet+%281784-1849%29/index.html" class="includePageListPageUrl">Bernard Barton the Quaker poet (1784-1849)</a></li>
                  <li class="includePageListPage"><a href="./Charles+Elliott+%281776-1856%29/index.html" class="includePageListPageUrl">Charles Elliott (1776-1856)</a></li>
                  <li class="includePageListPage"><a href="./Charles+Elliott+the+cabinet-maker+%281752-1832%29/index.html" class="includePageListPageUrl">Charles Elliott the cabinet-maker (1752-1832)</a></li>
                  <li class="includePageListPage"><a href="./Chateau+Castelnau/index.html" class="includePageListPageUrl">Chateau Castelnau</a></li>
                  <li class="includePageListPage"><a href="./Col.+John+Edward+Broadbent+%281845-1931%29" class="includePageListPageUrl">Col. John Edward Broadbent (1845-1931)</a></li>
                  <li class="includePageListPage"><a href="./Emily+Elliott+%281839-1924%29/index.html" class="includePageListPageUrl">Emily Elliott (1839-1924)</a></li>
                  <li class="includePageListPage"><a href="./Esther+Broadbent+%281873-1959%29/index.html" class="includePageListPageUrl">Esther Broadbent (1873-1959)</a></li>
                  <li class="includePageListPage"><a href="./Etienne+Boileau/index.html" class="includePageListPageUrl">Etienne Boileau</a></li>
                  <li class="includePageListPage"><a href="./High+Head+Chapel/index.html" class="includePageListPageUrl">High Head Chapel</a></li>
                  <li class="includePageListPage"><a href="./Ive+Bank%2C+Ivegill/index.html" class="includePageListPageUrl">Ive Bank, Ivegill</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+%28d.1720%29" class="includePageListPageUrl">John Barton (d.1720)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+of+Ivegill+%28d.1747%29" class="includePageListPageUrl">John Barton of Ivegill (d.1747)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+Senior+%281789-1852%29/index.html" class="includePageListPageUrl">John Barton Senior (1789-1852)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+the+Elder+%281754-1789%29/index.html" class="includePageListPageUrl">John Barton the Elder (1754-1789)</a></li>
                  <li class="includePageListPage"><a href="./John+Dougan+%281765-1826%29/index.html" class="includePageListPageUrl">John Dougan (1765-1826)</a></li>
                  <li class="includePageListPage"><a href="./Ormside+Hall/index.html" class="includePageListPageUrl">Ormside Hall</a></li>
                  <li class="includePageListPage"><a href="./Parishes+of+Cumberland+and+Westmorland/index.html" class="includePageListPageUrl">Parishes of Cumberland and Westmorland</a></li>
                  <li class="includePageListPage"><a href="./Rev.+Cecil+Barton+%281870-1909%29" class="includePageListPageUrl">Rev. Cecil Barton (1870-1909)</a></li>
                  <li class="includePageListPage"><a href="./Rev.+Charles+Boileau+Elliott+%281803-1875%29" class="includePageListPageUrl">Rev. Charles Boileau Elliott (1803-1875)</a></li>
                  <li class="includePageListPage"><a href="./Rev.+John+Barton+of+Cambridge+%281836-1908%29" class="includePageListPageUrl">Rev. John Barton of Cambridge (1836-1908)</a></li>
                  <li class="includePageListPage"><a href="./Ronald+Barton+%281901-1986%29/index.html" class="includePageListPageUrl">Ronald Barton (1901-1986)</a></li>
                  <li class="includePageListPage"><a href="./Shimla%2C+India/index.html" class="includePageListPageUrl">Shimla, India</a></li>
                  <li class="includePageListPage"><a href="./Solomon+Boileau+%281745-1810%29/index.html" class="includePageListPageUrl">Solomon Boileau (1745-1810)</a></li>
                  <li class="includePageListPage"><a href="./Thomas+Dougan+%28d.1797%29" class="includePageListPageUrl">Thomas Dougan (d.1797)</a></li>
      </ol></div><!-- ws:end:WikiTextIncludeRule:00 --> </span><br/>
<br/>
<span style="color: #909090;"><a class="wiki_link" href="../Editors+FAQ/index.html">Editors FAQ</a></span><br/>
<span style="color: #909090;"><a class="wiki_link" href="../Online+resources/index.html">Online resources</a></span></div>              <div class="ws-theme-nav-edit">
                              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="ws-theme-content" role="main">
        <div class="ws-theme-content-inner">
          <div class="contentBox"><div class="innerContentBox" id="WikiContent">

<script type="text/template" id="comment-footer-template">

<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="fa fa-arrow-right"></i></button>
  </div>
  <% if (ws.context.user.canAdministerWiki && !ws.comments.Manager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</script>

<script type="text/template" id="comment-content-template">
<div class="ws-box commentView">
  <div class="comment-close">
    <button type="button" class="closeme close" aria-hidden="true"><i class="fa fa-times"></i></button>
  </div>
  <div class="commentHeader">
    <p class="ws-stream-meta command-context">
      <a class="userLink userLinkPicture" href="<%= userCreated.url %>"><img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16"></a>
      <a href="<%= userCreated.url %>"><%= userCreated.username %></a>
      <% if (smartDate == '__live__') { %>
      <abbr class="timeago" title="<%= (new Date(parseInt(dateCreated, 10) * 1000)).toISOString() %>">
        <%= dateCreated %>
      </abbr>
      <% } else { %>
        <%- smartDate %>
      <% } %>
      <% if (ws.context.user.canAdministerWiki && ws.comments.Manager.readOnly) { %>
        <i class="fa fa-trash-o contextual-command delete ws-tip" title="Delete Comment"></i>
      <% } %>
    </p>
  </div>

  <div class="commentBody">
    <div class="commentContent">
      <%= description %>
    </div>

      <% for(i = 0; i < replyPages.length; i++) { %>
        <% for(var j = 0; j < replyPages[i].digests.length; j++) { %>
      <div class="commentReply" data-id="<%= replyPages[i].digests[j].id %>">
        <p class="ws-stream-meta command-context">
          <a class="userLink userLinkPicture" href="<%= replyPages[i].digests[j].userCreated.url %>"><img class="userPicture" src="<%= replyPages[i].digests[j].userCreated.imageUrl %>" width="16" height="16"></a>
          <a href="<%= replyPages[i].digests[j].userCreated.url %>"><%= replyPages[i].digests[j].userCreated.username %></a>
          <% if (smartDate == '__live__') { %>
          <abbr class="timeago" title="<%= (new Date(parseInt(replyPages[i].digests[j].dateCreated, 10) * 1000)).toISOString() %>">
            <%= new Date(parseInt(replyPages[i].digests[j].dateCreated, 10) * 1000).toLocaleString() %>
          </abbr>
          <% } else { %>
            <%- smartDate %>
          <% } %>
          <% if (ws.context.user.canAdministerWiki) { %>
          <i class="fa fa-trash-o contextual-command delete-reply ws-tip" title="Delete Reply"></i>
          <% } %>
          </p>
        <div class="commentContent"><%= replyPages[i].digests[j].body %></div>
      </div>
        <% } %>
      <% } %>

      <form class="reply commentReply">
        <div class="form-group">
          <textarea name="reply" placeholder="Reply" class="form-control" /></textarea>
        </div>
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-primary btn-sm" name="go" value="1">Post</button>

          <% if (ws.context.user.id) { %>
            <% if (monitored) { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-monitor ws-tip active" title="You are monitoring replies."><i class="fa fa-eye"></i></button>
            <% } else { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-monitor ws-tip" title="You are not monitoring replies."><i class="fa fa-eye"></i></button>
            <% } %>
          <% } %>
          <% if (ws.context.user.canAdministerWiki) { %>
            <% if (locked) { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-lock ws-tip active" title="Replies are not allowed."><i class="fa fa-lock"></i></button>
            <% } else { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-lock ws-tip" title="Replies are allowed."><i class="fa fa-lock"></i></button>
            <% } %>
          <% } %>

          <i class="fa fa-spinner fa-spin spinner pull-right hidden"></i>
        </div>
      </form>
   </div>

   
<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="fa fa-arrow-right"></i></button>
  </div>
  <% if (ws.context.user.canAdministerWiki && !ws.comments.Manager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</div>
</script>

<script type="text/template" id="comment-composer-template">
<div class="ws-box commentView">
  <div class="commentComposer">
    <div class="comment-close">
      &nbsp;<button type="button" class="close closeme" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="commentHeader">
      <p class="ws-stream-meta command-context">
        <img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16">
        <a href="#" onclick="return false;"><%= userCreated.username %></a>
      </p>
    </div>
    <div class="commentBody">
      <textarea name="comment" class="compose form-control" placeholder="Comment"/></textarea><br/>
      <div class="btn-toolbar">
        <button type="button" class="btn btn-default btn-sm monitored active pull-right" style="margin-left: 6px" onclick="jQuery(this).toggleClass('active')"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-default btn-sm locked btn-toggle pull-right" onclick="jQuery(this).toggleClass('active')"><i class="fa fa-lock"></i></button>
        <button type="button" class="btn btn-primary btn-sm closeme">Save</button>
      </div>
    </div>
  </div>

  
<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="fa fa-arrow-right"></i></button>
  </div>
  <% if (ws.context.user.canAdministerWiki && !ws.comments.Manager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</div>
</script>

<script type="text/template" id="comment-proxy-template">
<div class="comment-proxy">
  <span class="commentUser">
  <% if (userCreated) { %>
    <img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16">
  <% } else { %>
    <img class="userPicture" src="<%= ws.context.user.imageUrlPrefix %>sm.jpg" width="16" height="16">
  <% } %>
  </span>
  <span class="commentReplies"><%= 1 + _(replyPages).reduce(function(memo, page){ return memo + page.digests.length; }, 0) %></span>
</div>
</script>

<div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">
  
    <h1 class="pageTitle"><a href="./index.html">*Maupin 1980</a></h1>
      <div class="btn-group pull-right">
          <span class="btn btn-default disabled tipme" title="you do not have permission to edit this page"><i class="fa fa-pencil fa-fw"></i> Edit</span>          <a class="btn btn-default tipme" title="no discussion posts" href="./index.html#discussion"><i class="fa fa-comments fa-fw"></i> 0</a>          <a class="btn btn-default tipme" title="view 18 revisions" href="../page/history/*Maupin+1980/index.html"><i class="fa fa-clock-o fa-fw"></i> 18</a>          <a class="btn btn-default ws-btn-more dropdown-toggle tipme" title="more options" href="../page/menu/*Maupin+1980/index.html"><i class="icon-height-only fa-fw"></i>&hellip;</a>        <ul class="ws-more-menu dropdown-menu dropdown-menu-right">
              <li class=" dropdown"><a class=" ws-tag-dropdown-toggle" href="../page/tags/*Maupin+1980/index.html"><span class="pull-right">3</span> <i class="fa fa-tag fa-fw"></i> Tags</a>
          <div class="dropdown-menu dropdown-menu-right ws-tag-dropdown-menu">
          



<form action="#" name="WikiTagForm" class="WikiTagForm">
  <div class="WikiTagList">
    <i class="fa fa-tag ws-action"></i>
        <ul class="list-unstyled">
                          <li><a href="../space/content/index.html">20thc</a></li>
                                <li><a href="../space/content/index.html">maupin</a></li>
                                <li><a href="../space/content/index.html">sources</a></li>
              </ul>
      </div>
  </form>      </div>
    </li>
              <li class="divider"></li>
            <li class=""><a class=" WikispacesDialogLink" href="./wiki/addmonitor/index.html"><i class="fa fa-eye fa-fw"></i> Notify</a>
    </li>
        <li class=""><a class=" WikispacesDialogLink" href="../page/rss/*Maupin+1980/index.html"><i class="fa fa-rss fa-fw"></i> RSS</a>
    </li>
        <li class=""><a class="" href="../page/links/*Maupin+1980/index.html"><i class="fa fa-link fa-fw"></i> Backlinks</a>
    </li>
              <li class="divider"></li>
            <li class=""><a class="" href="../page/code/*Maupin+1980/index.html"><i class="fa fa-code fa-fw"></i> Source</a>
    </li>
        <li class=""><a class="" href="./index.html"><i class="fa fa-print fa-fw"></i> Print</a>
    </li>
        <li class=""><a class="" href="../page/pdf/*Maupin+1980/index.html"><i class="fa fa-cloud-download fa-fw"></i> Export (PDF)</a>
    </li>
      </ul>  </div>
  </div>




  <textarea class="form-control" id="autosaveContent" style="display:none;" rows="1" cols="1"></textarea>
  <div id="autosavePrompt" style="display:none;"></div>

<div class="commentContainer">
  <div class="commentSubject">
  <div class="wiki wikiPage" id="content_view">
  <u><strong>Prologue, by Armistead Jones Maupin</strong></u>, revised edition 1980, privately published.<br/>
<br/>
Reproductions of parts of this work were found among the <a class="wiki_link" href="../*ABH+research+notes/index.html">*ABH research notes</a> along with letters that ultimately allowed me to make contact with living descendants of the family. One relative, Richard Hargreaves, kindly loaned me his full copy of this work, allowing me to scan and digitize it in full. Only one chapter concerns the Bartons, specifically the coach-building Bartons such as <a class="wiki_link" href="../William+Barton+(1700-1763)/index.html">William Barton (1700-1763)</a>, who were the ancestors of the author's wife (nee) Diana Jane Barton, and this chapter was in fact written by Diana Maupin rather than Armistead. Much of it has stood up very well to scrutiny, and it contains some other extraordinary and interesting claims which would be well worth pursuing and attempting to verify.<br/>
<br/>
<strong>At the request of a living relative of Diana, I am not publishing the contents of this chapter.</strong>
  </div>

<div id="pageEditor" class="editorWrapper editorLayer">
  <iframe id="target_editor" name="target_editor" src="../s/blank.html/index.html" style="width:0px;height:0px;border:0"></iframe>
    <form action="../page/edit/*Maupin+1980/index.html" method="post" class="editorForm" id="editorForm">
    <input type="hidden" title="goto" name="goto" value=""/>
    <input type="hidden" title="mode" name="mode" autocomplete="off" value="visual"/>
    <input type="hidden" title="version" name="version" autocomplete="off" value="328061532"/>
    <input type="hidden" title="pageComments" name="pageComments" autocomplete="off" value=""/>
    <input type="hidden" title="saveAndContinue" name="saveAndContinue" value="0"/>
    <input type="hidden" title="comment" name="comment" value=""/>
    <input type="hidden" title="commentsDisabled" name="commentsDisabled" autocomplete="off" value=""/>
    <input type="hidden" title="contentPresent" name="contentPresent" autocomplete="off" value=""/>
    <input type="hidden" title="editorCleanup" name="editorCleanup" autocomplete="off" value=""/>

    <textarea id="wsMainEditor" title="content" class="noContentHide" name="WikispacesEditorContent" style="width: 100%; position: absolute; top: -50000px; left: -50000px;" autocomplete="off"></textarea>

  <noscript>
    <h2>Javascript Required</h2>
    <p>You need to enable Javascript in your browser to edit pages.</p>
  </noscript>

  </form>
  
  
  <div id="plainTextEditor" style="position:relative;display:none" class="editorLayer">
    <textarea id="textEditor" class="autogrow"></textarea>
    <p style="clear:both;" align="right"><a href="./help.wikitext" class="js-help-link" data-help="help.wikitext">help on how to format text</a></p>
  </div>
</div>




  </div>
  <div class="commentColumn WikispacesStream"><div class="WikispacesContent WikispacesBs3"><div class="commentList"></div></div></div>
</div>

  




<script type="text/template" id="js-event-template">
  <small>
    <%- startDateShortFormat %>
    <a href="<%- ws.common.pathFor('event', 'view', id) %>" class="WikispacesDialogLink">
      <%- ws.common.truncate(title, 15) %>
    </a>
  </small>
</script>

<script type="text/template" id="js-reply-template">
  <div class="tc-timeline-comment media">

    <a class="pull-left userLink" href="<%- userCreated.url %>">
      <img src="<%- userCreated.imageUrl %>" width="30" height="30" class="author-avatar" alt="" />
    </a>
    <div class="media-body" data-id="<%= id %>">
      <% if (ws.context.user.canAdministerWiki) { %>
        <i class="tc-delete-comment fa fa-trash-o contextual-command destroy-message ws-tip" title="Delete reply"></i>
      <% } %>
      <div class="tc-box-name-date">
        <span class="tc-commenter"><a href="<%- userCreated.url %>"><%- userCreated.username %></a></span>
        <% if (smartDate == '__live__') { %>
        <abbr style="border-bottom-style: none;" class="timeago tc-comment-date" title="<%- (new Date(parseInt(dateCreated) * 1000)).toISOString() %>">
          <%- (new Date(parseInt(dateCreated) * 1000)).toDateString() %>
        </abbr>
        <% } else { %>
          <abbr style="border-bottom-style: none;" class="tc-comment-date"><%- smartDate %></abbr>
        <% } %>
      </div>
      <% if (body) { %>
      <p>
        <%= body %>
      </p>
      <% } %>
    </div>
  </div>
</script>

<script type="text/template" id="js-share-template">
  <div class="tc-timeline-block tc-<%= ws.stream.typeToBlockType(sharedType) %>-block" <%= (ws.stream.hideTimeline ? 'style="padding-left: 0px;"' : '') %>>

    <% if (!ws.stream.hideTimeline) { %>
      <div class="tc-timeline-icon">
        <i class="fa fa-<%= ws.stream.typeToIcon(sharedType) %>"></i>
      </div>
      <div class="tc-timeline-triangle-man"></div>
    <% } %>

    <div class="tc-timeline-box" data-id="<%= id %>">
      <div class="media">
        <a class="pull-left userLink" href="<%- userCreated.url %>">
          <img src="<%- userCreated.imageUrl %>" width="48" height="48" class="author-avatar media-object" alt="" />
        </a>

        <div class="media-body">

          <div class="tc-stream-dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
              <i class="fa fa-chevron-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <% if (ws.context.user.id) { %>
              <li>
                <a class="js-toggle-monitor" tabindex="-1" href="#">
                  <i class="fa-fw fa fa-eye"></i>
                  <span><%= monitored ? 'Start Monitoring' : 'Stop Monitoring' %></span>
                </a>
              </li>
              <% } %>

              <% if (ws.context.user.canAdministerWiki) { %>
              <li>
                <a class="js-toggle-lock" tabindex="-1" href="#">
                  <i class="fa-fw fa fa-lock"></i>
                  <span><%= locked ? 'Unlock Replies' : 'Lock Replies' %></span>
                </a>
              </li>
              <% if (sharedType == 'discussion' || sharedType == 'comment' || sharedType == 'event') { %>
              <li>
                <a class="js-destroy-share" tabindex="-1" href="#">
                  <i class="fa-fw fa fa-trash-o"></i>
                  Delete <%= ws.stream.typeToName(sharedType) %>
                </a>
              </li>
              <% } %>
              <% } %>
            </ul>
          </div>

          <div class="tc-timeline-box-header ws-reveal media-heading">
              <h3 class="tc-box-title">
              <% if (typeof adminLink !== 'undefined' && adminLink && ws.context.user.canAdministerWiki) { %>
                <a href="<%- adminLink %>"><%- title %></a>
              <% } else { %>
                <%- title %>
              <% } %>
              <% if (typeof startDate !== 'undefined' && startDate) { %> - <%= startDateShortFormat %> <%= ws.stream.getYearFromStartDate(startDate) %><% } %>
              </h3>
              <div class="tc-box-name-date">
                <% if (ws.context.instance.isTesClassroom) { %>
                  <%- userCreated.username %>
                <% } else { %>
                  <a class="author-name" href="<%- userCreated.url %>"><%- userCreated.username %></a>
                <% } %>
                <% if (typeof recipients !== 'undefined' && recipients) { %>
                  <i class="fa fa-angle-right"></i>
                  <% if (typeof recipientsLink !== 'undefined') { %>
                    <a href="<%- recipientsLink %>"><%- recipients %></a>
                  <% } else { %>
                    <span class="recipients"><%- recipients %></span>
                  <% } %>
                <% } %>
                <% if (smartDate == '__live__') { %>
                  <abbr style="border-bottom-style: none;" class="timeago tc-block-date" title="<%= (new Date(parseInt(dateCreated) * 1000)).toISOString() %>">
                    <%= (new Date(parseInt(dateCreated) * 1000)).toDateString() %>
                  </abbr>
                <% } else { %>
                  <abbr style="border-bottom-style: none;" class="tc-block-date"><%- smartDate %></abbr>
                <% } %>
              </div>
          </div>

          <div class="<%= sharedType == 'comment' && !orphaned && !ws.stream.noCollapse ? 'hidden ' : '' %>tc-block-content">
            <div class="clearfix">
              <% if (typeof rangeActions !== 'undefined') { %>
                <div class="tc-range-actions">
                  <% for(var i = 0; i < rangeActions.length; i++) { %>
                  <%= ws.stream.rangeActionTemplate(rangeActions[i]) %>
                  <% } %>
                </div>
              <% } %>
              <% if (description) { %>
                <p><%= description %></p>
              <% } %>
            </div>
          </div>

          <% if (replyPages.length > 0 && !(replyPages.length === 1 && replyPages[0].digests.length === 0)) { %>
            <div class="tc-timeline-comments">
            <% for (var i = 0; i < replyPages.length; i++) { %>
              <% if (i == 0 && replyPages[i].more) { %>
                <a href="#" class="tc-show-more" onclick="ws.stream.pageReplies(<%= id %>, <%= replyPages[i].page + 1 %>); return false">Show more replies (<%= replyPages[i].more %> hidden) </a>
              <% } else { %>
                <div></div>
              <% } %>
              <% for (var j = 0; j < replyPages[i].digests.length; j++) { %>
                <%= ws.stream.replyTemplate(replyPages[i].digests[j]) %>
              <% } %>
            <% } %>
            </div>
          <% } %>

          <% if ((ws.stream.userCanPostMessage && !locked) || ws.context.user.canAdministerWiki) { %>
          <div class="tc-add-comment media <%= ws.stream.noCollapse ? 'add-active' : ''%>">
            <img src="<%- ws.context.user.imageUrlPrefix %>lg.jpg" width="30" height="30" class="pull-left author-avatar" alt="" />
            <div class="media-body">
              <textarea name="reply" placeholder="Comment" class="form-control form-control-tc ws-reveal <%= !ws.stream.noCollapse ? 'ws-unrevealed' : ''%> reply" /></textarea>
              <button type="button" class="btn-tc btn-info-tc btn-sm-tc add-reply">Post</button>
            </div>
          </div>
          <% } %>
        </div>

      </div>
    </div>
  </div>
</script>

<script type="text/template" id="js-range-action-template">
  <div>
    <strong><%- name %></strong>
    <% if (typeof(diffUrl) !== 'undefined') { %>
      <a href="<%- diffUrl %>">
    <% } %>
    <%= new Date(dateCreated * 1000).toLocaleString() %>
    <% if (typeof(diffUrl) !== 'undefined') { %>
      </a>
    <% } %>
    <% if (typeof(rangeText) !== 'undefined') { %>
      <div>
        <span class="commentExtent">
        <% if (typeof(diffUrl) !== 'undefined') { %>
          <a href="<%- diffUrl %>">
        <% } %>
        <%= rangeText %>
        <% if (typeof(diffUrl) !== 'undefined') { %>
          </a>
        <% } %>
        </span>
      </div>
    <% } %>
  </div>
</script>

<script type="text/template" id="js-stream-end-template">
  <div class="tc-timeline-block tc-end-block">
    <div class="tc-timeline-icon" style="margin-top: -10px;" />
    <div class="tc-timeline-box" style="visibility: hidden;">
      <p class="tc-box-title"></p>
    </div>
  </div>
</script>

<a name="discussion"></a>
<div class="timeline WikispacesBs3 tc-timeline-embedded show-border">
  <div class="timeline-line"></div>
    <div id="js-share-list">
    <div class="spinner hidden"><i class="fa fa-spinner fa-spin"></i></div>
  </div>
</div></div></div><div id="sentinel" style="clear:both"></div>        </div>
      </main>
    </div>
  </div>
</div>

<footer class="ws-theme-footer" role="contentinfo">
  <div class="ws-theme-container">
    <div class="ws-theme-footer-inner">
      <div class="WikiFooterNav WikiElement">
<a href="./index.html" rel="nofollow" class="js-help-trigger">Help</a> &middot;
<a href="./about/index.html">About</a> &middot;
<a href="./index.html" target="_new">Blog</a> &middot;
<a href="./content/pricing/index.html" rel="nofollow">Pricing</a> &middot;
<a href="./privacy/index.html" rel="nofollow">Privacy</a> &middot;
<a href="./terms/index.html" rel="nofollow">Terms</a> &middot;
<a href="./site/help/index.html" rel="nofollow"><strong>Support</strong></a></div>      <div class="WikiLicense WikiElement">Contributions to http://bartonhistory.wikispaces.com/ are licensed under a <a rel="license" href="./licenses/by-nc-sa/3.0">Creative Commons Attribution Share-Alike Non-Commercial 3.0 License</a>. <a rel="license" href="./licenses/by-nc-sa/3.0"><img src="https://www.wikispaces.com/i/creativecommons/by-nc-sa_3.0_80x15.png" width="85" height="15" alt="Creative Commons Attribution Share-Alike Non-Commercial 3.0 License"/></a><br/>Portions not contributed by visitors are Copyright 2015 Tangient LLC</div>    </div>
  </div>
</footer>

<script type="text/template" id="dialog-template">
<div class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
</script>


<div id="js-help-template" class="hidden">
  <div class="ws-help">
    <div class="js-help-controls WikispacesContent WikispacesBs3">
      <a href="./site/gettingstarted/off/index.html" class="btn btn-default hidden js-getting-started-off pull-right">Turn off "Getting Started"</a>
      <ol class="breadcrumb">
        <li class="js-special-breadcrumb active">
          <a href="./index.html" data-breadcrumb="0">Home</a>
        </li>
        <li class="js-ellipsis hidden js-special-breadcrumb">
          ...
        </li>
        <li class="js-spinner hidden js-special-breadcrumb"><i class="fa fa-spinner fa-spin"></i></li>
      </ol>
    </div>
    <div class="ws-help-content wiki">Loading...</div>
  </div>
</div>
</div>
<script src="https://www.wikispaces.com/s/nogz/95z4150v-common.min.js" type="text/javascript"></script>
<script src="https://www.wikispaces.com/s/nogz/vkz515xz-editorc.min.js" type="text/javascript"></script>
<script src="https://www.wikispaces.com/s/nogz/85k7018k-stream.min.js" type="text/javascript"></script>
<script src="https://www.wikispaces.com/s/nogz/91k8z207-contentbar.min.js" type="text/javascript"></script>
<script src="https://www.wikispaces.com/s/nogz/395j1vq7-component.stream-vo.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
ws.namespace('ws.attributes');
ws.namespace('ws.stream');
ws.attributes.DISCUSSION_COUNT = 0;
ws.attributes.pageId = 97755372;
ws.attributes.version = 328061532;
ws.attributes.showEditor = true;
ws.attributes.editUrl = "https:\/\/web.archive.org\/web\/20150512152639\/http:\/\/bartonhistory.wikispaces.com\/page\/edit\/%2AMaupin+1980?goto=http%3A%2F%2Fbartonhistory.wikispaces.com%2F%2AMaupin%2B1980";
ws.attributes.userCanEdit = false;
ws.stream.userCanPostMessage = false;
ws.stream.hideTimeline = true;
ws.stream.shareSource = "https:\/\/web.archive.org\/web\/20150512152639\/http:\/\/bartonhistory.wikispaces.com\/page\/shares\/%2AMaupin+1980";

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? '//web.archive.org/web/20150512152639/http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function() {
  ws.common.addJsonNotices({"warning":[],"error":[],"info":[],"success":[]});
});

jQuery(document).ready(function($) {
  
  function tipPlacement() {
    return this.$element.closest('.ws-menu-bar .btn-group').is('.open') ? 'top' : 'bottom';
  }

  

  $('.ws-menu-bar').each(function() {
    var $menuBar = $(this);
    var $tagDropdown = $menuBar.find('.ws-tag-dropdown-menu');
    $menuBar.find('.tipme').tooltip({placement: tipPlacement, container: '.ws-menu-bar'});

    
    $menuBar.find('.ws-btn-more').click(ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .btn-group').is('.open')) {
        ws.common.hideMorePageBar();
      } else {
        ws.common.showMorePageBar();
      }
    }));

    $menuBar.on('click', '.ws-tag-dropdown-toggle', ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .dropdown').is('.open')) {
        ws.common.hideTagDropdown();
      } else {
        ws.common.showTagDropdown();
      }
    }));

    $(document.body).click(function(e) {
      var $target = $(e.target);
      if (!$target.closest('.ws-more-menu').closest('.ws-menu-bar').is($menuBar)
          || $target.closest('a').is('.WikispacesDialogLink')) {
        ws.common.hideMorePageBar();
      }
      if ($tagDropdown.length && !$target.closest('.ws-tag-dropdown-menu').is($tagDropdown)) {
        ws.common.hideTagDropdown();
      }
    });
    
  });
});


jQuery(document).ready(function($) {
  $('.ws-more-menu').on('click', 'a', function(e) {
    if ($(this).is('.disabled')) {
      e.preventDefault();
    }
  });
});


jQuery(document).ready(function() {
  ws.editor.canEdit = false;
  var editUrl = '/page/edit/%2AMaupin+1980/index.html';

  jQuery('#js-edit-from-template').change(function() {
    window.location = ws.common.addUriParams(editUrl, [['template', jQuery(this).val()]]);
  });
});


jQuery(document).ready(function() {
  ws.editor.loadEditorLibs('/site/editorlibs/en/07z93j80.js');
});


ws.editor.startEditor = function (moreCoreOptions, moreMainOptions) {
  ws.editor.canEdit = true;

  var coreOptions = {
    'content_css': ['/stylesheet/editori/217420326D.css']
  };

  // The stylesheet is passed in as a string, turn it into an array
  // Add bootstrap styles to the editor, if we are in a theme that has full screen bootstrap
  if (jQuery('body').is('.WikispacesBs3')) {
    coreOptions.content_css.push('//s/internal-bootstrap-body.css');
  }

  var mainOptions = {
    'wssave_cancel_url': '/%2AMaupin+1980',
    'wsimage_upload_url': '/file/multiupload/index.html',
    'wsimage_max_file_size_mb': '20',
    'wsimage_page_view_group': ''
  };

  ws.editor.loadEditor(jQuery.extend(coreOptions, moreCoreOptions), jQuery.extend(mainOptions, moreMainOptions));
};

  var wikispaces_page_version = '328061532';

  jQuery(document).ready(function() {
    ws.editor.enableButtons();
  });



--></script><!-- w18 259 wki:70:77(3) tot:259:259(1) mog:46:46(1) dql:17:26(6) mem:3:23(32) -->

</body>
</html><!--
     FILE ARCHIVED ON 15:26:39 May 12, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 07:49:21 Apr 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.541
  exclusion.robots: 0.046
  exclusion.robots.policy: 0.036
  esindex: 0.009
  cdx.remote: 6.692
  LoadShardBlock: 129.835 (3)
  PetaboxLoader3.datanode: 79.685 (4)
  PetaboxLoader3.resolve: 73.18 (2)
  load_resource: 75.858
-->