<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/1999/xhtml/index.html">
<head><script type="text/javascript" src="./_static/js/bundle-playback.js" charset="utf-8"></script>
<script type="text/javascript" src="./_static/js/wombat.js" charset="utf-8"></script>
<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>
<script type="text/javascript" src="./_static/js/ruffle/ruffle.js"></script>
<script type="text/javascript">
    __wm.init("/web/index.html");
  __wm.wombat("/The+Barton+name/index.html","20150120072742","./index.html","web","/_static/index.html",
	      "1421738862");
</script>
<link rel="stylesheet" type="text/css" href="./_static/css/banner-styles.css" />
<link rel="stylesheet" type="text/css" href="./_static/css/iconochive.css" />
<!-- End Wayback Rewrite JS Include -->

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="search" href="./space/opensearch/index.html" type="application/opensearchdescription+xml" title="Wikispaces Search (BartonHistory Wiki)"/>
<link rel="alternate" type="application/x-wiki" title="Edit This Page" href="../page/edit/The+Barton+name/index.html"/>
<link rel="alternate" title="BartonHistory - All Changes" href="./wiki/xmla/index.html" type="application/rss+xml"/>
<link rel="alternate" title="bartonhistory : The Barton name - Discussion" href="./message/xml/The+Barton+name/index.html" type="application/rss+xml"/>
<link rel="alternate" title="bartonhistory : The Barton name - Edits" href="./page/xml/The+Barton+name/index.html" type="application/rss+xml"/>
<link rel="microsummary" href="./page/microsummary/The+Barton+name/edits"/>
<link rel="microsummary" href="./page/microsummary/The+Barton+name/messages"/>
<script type="text/javascript">
  
if (typeof ws === 'undefined') ws = {};
if (typeof ws.context === 'undefined') ws.context = {};
ws.context = {
  instance: {
    id: '1',
    url: 'wikispaces.com',
    isMain: true,
    supportsGoogleDocs: false,
    isTesClassroom: false,
  },
  user: {
    id: '',
    username: '',
    status: '',
    locale: 'en',
    imageUrlPrefix: '/i/user_none_/index.html',
    isTeacher: false,
    canAdministerWiki: false,
  },
  wiki: {
    id: '4761411',
    name: 'bartonhistory',
    text: 'BartonHistory',
    module: 'B',
    isClassroom: false,
    isTesClassroom: false
    ,defaultSpaceId: 4761411
    ,isWwwWiki: false
  },
  project: {
    id: '4761411',
    name: ''
  },
  space: {
    id: '4761411',
    name: 'bartonhistory',
    isDefaultSpace: true,
    isDefaultTemplate: false
  },

  environment_name: 'prod',

  path: {
    object: 'page',
    method: 'view',
    page: 'The Barton name',
    id: ''
  },

  settings: {
    main_domain: 'wikispaces.com',
    session_url: '/1/index.html',
    asset_url_prefix: '// legacy javascript API variables, use the above instead
var wikispaces_isUserLoggedIn = !!ws.context.user.id;
var wikispaces_isMain = ws.context.instance.isMain;
var wikispaces_username = ws.context.user.username;
var wikispaces_spaceName = ws.context.space.name;
var wikispaces_projectName = ws.context.project.name;
var wikispaces_wikiName = ws.context.wiki.name;
var wikispaces_wikiText = ws.context.wiki.text;
var wikispaces_isDefaultSpace = ws.context.space.isDefaultSpace;
var wikispaces_method = ws.context.path.method;
var wikispaces_object = ws.context.path.object;
var wikispaces_page = ws.context.path.page;
var wikispaces_id = ws.context.path.id;
var wikispaces_domain = ws.context.instance.url;
var wikispaces_isUserOrganizer = false;
var wikispaces_main_domain = ws.context.settings.asset_url_prefix;
var wikispaces_asset_url_prefix = ws.context.settings.asset_url_prefix;
var wikispaces_beta_features = ws.context.settings.beta_features;
var wikispaces_isMobileSite = ws.context.settings.isMobileSite;
var wikispaces_isUploadCapable = ws.context.settings.isUploadCapable;
var wikispaces_can_discuss = ws.context.settings.can_discuss;
var wikispaces_has_gdocs = ws.context.settings.has_gdocs;

</script>
<script type="text/template" id="dialog-template">
<div class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i></button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
</script>

<title>BartonHistory - The Barton name</title>
<meta charset="utf-8"/>
<link rel="apple-touch-icon" sizes="144x144" href="https://www.wikispaces.com/_/z6371z4x/i/logo-144.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="https://www.wikispaces.com/_/j5j77xz3/i/logo-114.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="https://www.wikispaces.com/_/vq8j5432/i/logo-72.png"/>
<link rel="apple-touch-icon" href="https://www.wikispaces.com/_/38515190/i/logo-57.png"/>
<link rel="shortcut icon" href="https://www.wikispaces.com/_/55v9k02z/i/logo-16.png"/>
<style type="text/css">
/* Standard theme styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.ws-theme-header-inner,
.ws-theme-body-inner,
.ws-theme-footer-inner,
.ws-theme-content-inner,
.ws-theme-sidebar-inner {
  position: relative;
}
.ws-theme-header-inner:after,
.ws-theme-body-inner:after,
.ws-theme-footer-inner:after,
.ws-theme-content-inner:after,
.ws-theme-sidebar-inner:after,
.ws-theme-menu-inner:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ws-theme-content, .ws-theme-sidebar {
  overflow-x: auto;
}
.ws-theme-footer {
  text-align: right;
}
.ws-theme-footer a, .ws-theme-footer a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
}
@media (min-width: 992px) {
  .ws-theme-container {
    width: 970px;
  }
  .ws-theme-content {
    width: 770px;
    min-height: 496px;
  }
}
@media (min-width: 1200px) {
  .ws-theme-container {
    width: 1170px;
  }
  .ws-theme-content {
    width: 970px;
    min-height: 600px;
  }
}
/* End standard theme styles */
</style>
<style type="text/css">
/* Theme-specific styles */
body {
  background-color: #DEDEDE;
}

.ws-theme-container {
  margin: 0 5px;
  width: auto;
}

.ws-theme-header .WikiSearch .WikiSearchInput,
.ws-theme-sidebar .WikiSearch .WikiSearchInput,
.ws-theme-footer .WikiSearch .WikiSearchInput {
  width: 100%;
}

.ws-theme-header a,
.ws-theme-header a:hover,
.ws-theme-sidebar a,
.ws-theme-footer a {
  color: inherit;
  text-decoration: none;
}
.ws-theme-sidebar a:hover,
.ws-theme-footer a:hover {
  text-decoration: underline;
}
.ws-theme-header img,
.ws-theme-sidebar img,
.ws-theme-footer img {
  border: none;
}

.ws-theme-content,
.ws-theme-sidebar {
  overflow-x: visible;
}

.ws-theme-header-inner,
.ws-theme-content-inner,
.ws-theme-menu-inner,
.ws-theme-footer-inner {
  padding: 15px;
  border-radius: 8px;
}

.ws-theme-header,
.ws-theme-sidebar {
  display: none;
}

.ws-theme-header,
.ws-theme-footer {
  color: #FFF;
}

.ws-theme-header-inner,
.ws-theme-footer-inner {
  background-color: #000000;
}

.ws-theme-body-inner {
  padding: 7px 0;
}

.ws-theme-content-inner {
  background-color: #FFF;
}

.ws-theme-footer {
  text-align: left;
}
.ws-theme-footer-inner {
  padding: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ws-theme-footer .WikiLicense img {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  .ws-theme-container {
    margin: 0 10px;
    width: auto;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }

  .ws-theme-header-inner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .ws-theme-body-inner {
    padding: 15px 0;
  }

  .ws-theme-content {
    width: auto;
    margin-left: 200px;
    padding-left: 15px;
    float: none;
  }
  .ws-theme-content-inner {
    float: left;
    width: 100%;
  }

  .ws-theme-sidebar {
    margin-top: -15px;
    color: #000000;
  }
  .ws-theme-sidebar .ws-theme-menu {
    margin-top: 15px;
  }
  .ws-theme-sidebar .ws-theme-menu-inner {
    padding: 10px;
    background-color: #333333;
  }
  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .WikispacesNavbar {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
  .ws-theme-sidebar .ws-theme-nav-edit a {
    color: inherit;
  }
}
/* End theme-specific styles */
</style>
<link rel="stylesheet" href="https://www.wikispaces.com/stylesheet/viewi/217420326D.css" type="text/css"/>
<link rel="stylesheet" href="https://www.wikispaces.com/s/nogz/155vz8j4-internal-bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="https://www.wikispaces.com/s/nogz/2168z042-internal.css" type="text/css"/>
<script src="https://www.wikispaces.com/s/nogz/38508jv5-common.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];

  var wsGoogleAccount = 'UA-80504-1';
  _gaq.push(['_setAccount', wsGoogleAccount]);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_setDomainName', 'wikispaces.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_setCustomVar', 2, 'Authenticated', 'Guest', 2]);
  _gaq.push(['_trackPageview']);
</script></head>
<body><a href="#WikiContent" class="hidden sr-only sr-only-focusable">Skip to main content</a><div id="js-fixed-header-holder" class="fixed"><div class="WikispacesContent WikispacesBs3" role="banner">
      
    <div class="ws-main-top-nav visible-xs">
    <div class="navbar navbar-static-top" style="margin-bottom: 0;">
      <div class="container">
                <div class="navbar-header">
          <div class="visible-xs pull-left">
            <a href="../space/menu/index.html" class="WikispacesDialogLink btn navbar-btn">
              <i class="fa fa-bars"></i>
            </a>
          </div>
          <div class="visible-xs pull-right js-globalnav-popover-container">
                        <a href="./site/signin/index.html" class="btn navbar-btn ws-mobile-guest-username js-globalnav-popover-trigger">
              guest
            </a>
                        <div class="hidden js-globalnav-popover-content">
              <div class="WikispacesContent WikispacesBs3">
                <div class="WikiInternalHeaderNav noHide">
  <div class="WikiInternalHeaderNavMenu">
                          
                  <span class="WikiInternalHeaderNavMenuArea"><a href="./user/join/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="./index.html">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="./site/signin/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div>              </div>
            </div>
          </div>
          <div class="ws-navbar-middle-xs">
            <div class="navbar-brand" role="navigation">
              <a href="./index.html" class="ws-logo"></a>
              <i class="fa fa-angle-right"></i>
              <a href="./index.html">BartonHistory</a>
                              <i class="fa fa-angle-right"></i> <a href="./home/index.html">Home</a>
              
            </div>
          </div>
                    <form action="../search/view/index.html" method="post" class="navbar-form ws-include-xs pull-left ws-navbar-search hidden-xs" role="search"><input type="text" class="form-control search-query" name="q" value="" placeholder="Search"/> </form>
                  </div>
      </div>
    </div>
  </div>
      <div class="hidden-xs"><div class="WikiInternalHeaderNav WikiElement floating">
  <div class="WikiInternalHeaderNavMenu">
                                    <span class="WikiInternalHeaderNavMenuArea guestUserName">guest</span><span class="slideMarker divider">|</span>
        
                  <span class="WikiInternalHeaderNavMenuArea"><a href="./user/join/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="./index.html">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="./site/signin/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div></div>
  </div></div><div id="js-fixed-header-offset">
<header class="ws-theme-header" role="banner">
  <div class="ws-theme-container">
    <div class="ws-theme-header-inner">
      <a href="./index.html" class="WikiLogo WikiElement"><img src="../space/showlogo/1419934046/logo.png/index.html" alt="BartonHistory"/></a>    </div>
  </div>
</header>

<div class="ws-theme-body">
  <div class="ws-theme-container">
    <div class="ws-theme-body-inner">
      <nav class="ws-theme-sidebar" role="navigation">
        <div class="ws-theme-sidebar-inner">
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <ul class="WikiActions WikiElement WikiControls">
    <li id="WikiActionHome"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="./index.html"><i class="fa fa-home fa-fw"></i></a><a href="./index.html">Wiki Home</a></div></li>
    <li id="WikiActionChanges"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../wiki/changes/index.html"><i class="fa fa-clock-o fa-fw"></i></a><a href="../wiki/changes/index.html">Recent Changes</a></div></li>
    <li id="WikiActionPagesAndFiles"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../space/content/index.html"><i class="fa fa-file-text-o fa-fw"></i></a><a href="../space/content/index.html">Pages and Files</a></div></li>
    <li id="WikiActionMembers"><div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="../wiki/members/index.html"><i class="fa fa-user fa-fw"></i></a><a href="../wiki/members/index.html">Members</a></div></li>
</ul>
              <form action="../search/view/index.html" method="post" class="WikiSearch WikiElement" role="search"><input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Search"/> </form>            </div>
          </div>
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <div class="WikiCustomNav WikiElement wiki"><span style="color: #c0c0c0;"><a class="wiki_link" href="../Home/index.html">Home</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="./index.html">The Barton name</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Royal+ancestry/index.html">Royal ancestry</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Famous+connections/index.html">Famous connections</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Living+connections/index.html">Living connections</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Coats+of+Arms/index.html">Coats of arms</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../DNA/index.html">DNA</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Mysteries/index.html">Mysteries</a></span><br/>
<span style="color: #808080;"><a class="wiki_link" href="../To+Do+list/index.html">To Do list</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Living+connections/index.html">Contact me</a></span><br/>
<br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../People/index.html">All people</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Places/index.html">All places</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Objects/index.html">All objects</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Sources/index.html">All sources</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Contents/index.html">All pages</a></span><br/>
<br/>
<span style="color: #c0c0c0;"><u>SELECTED PAGES</u></span><br/>
<span style="color: #c0c0c0;"><!-- ws:start:WikiTextIncludeRule:00:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/include/pageList?w=200&amp;h=100&quot; class=&quot;WikiMedia WikiMediaInclude&quot; id=&quot;wikitext@@include@@component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;favourite&amp;quot; limit=&amp;quot;40&amp;quot;&quot; title=&quot;Include pageList: component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;favourite&amp;quot; limit=&amp;quot;40&amp;quot;&quot; /&gt; --><div class="includeBody"><ol class="includePageList">
              <li class="includePageListPage"><a href="./%2ABernard+Barton+the+Quaker+Poet+Correspondence/index.html" class="includePageListPageUrl">*Bernard Barton the Quaker Poet Correspondence</a></li>
                  <li class="includePageListPage"><a href="./%2ABilly+Barton+Diary+and+Letters/index.html" class="includePageListPageUrl">*Billy Barton Diary and Letters</a></li>
                  <li class="includePageListPage"><a href="./%2ABroadbent+1976/index.html" class="includePageListPageUrl">*Broadbent 1976</a></li>
                  <li class="includePageListPage"><a href="./%2ACecil+Barton+Mountaineering+Journals/index.html" class="includePageListPageUrl">*Cecil Barton Mountaineering Journals</a></li>
                  <li class="includePageListPage"><a href="./%2ADougan+1826/index.html" class="includePageListPageUrl">*Dougan 1826</a></li>
                  <li class="includePageListPage"><a href="./%2AEmily+Dougan%27s+1856+Sketchbook/index.html" class="includePageListPageUrl">*Emily Dougan&#039;s 1856 Sketchbook</a></li>
                  <li class="includePageListPage"><a href="./%2AJohn+Barton+the+Elder+Correspondence/index.html" class="includePageListPageUrl">*John Barton the Elder Correspondence</a></li>
                  <li class="includePageListPage"><a href="./%2AMemoirs+of+Emily+Elliott/index.html" class="includePageListPageUrl">*Memoirs of Emily Elliott</a></li>
                  <li class="includePageListPage"><a href="./%2AMemoirs+of+John+Barton/index.html" class="includePageListPageUrl">*Memoirs of John Barton</a></li>
                  <li class="includePageListPage"><a href="./%2ANicolson+et+al+1777/index.html" class="includePageListPageUrl">*Nicolson et al 1777</a></li>
                  <li class="includePageListPage"><a href="./%2ARonald+Barton+Diary+and+Letters/index.html" class="includePageListPageUrl">*Ronald Barton Diary and Letters</a></li>
                  <li class="includePageListPage"><a href="./Ann+%28d.1748%29" class="includePageListPageUrl">Ann (d.1748)</a></li>
                  <li class="includePageListPage"><a href="./Barton+%28hamlet+%26+parish%29/index.html" class="includePageListPageUrl">Barton (hamlet &amp; parish)</a></li>
                  <li class="includePageListPage"><a href="./Bernard+Barton+of+Carlisle+%281728-1773%29/index.html" class="includePageListPageUrl">Bernard Barton of Carlisle (1728-1773)</a></li>
                  <li class="includePageListPage"><a href="./Bernard+Barton+the+Quaker+poet+%281784-1849%29/index.html" class="includePageListPageUrl">Bernard Barton the Quaker poet (1784-1849)</a></li>
                  <li class="includePageListPage"><a href="./Charles+Elliott+%281776-1856%29/index.html" class="includePageListPageUrl">Charles Elliott (1776-1856)</a></li>
                  <li class="includePageListPage"><a href="./Charles+Elliott+the+cabinet-maker+%281752-1832%29/index.html" class="includePageListPageUrl">Charles Elliott the cabinet-maker (1752-1832)</a></li>
                  <li class="includePageListPage"><a href="./Chateau+Castelnau/index.html" class="includePageListPageUrl">Chateau Castelnau</a></li>
                  <li class="includePageListPage"><a href="./Col.+John+Edward+Broadbent+%281845-1931%29" class="includePageListPageUrl">Col. John Edward Broadbent (1845-1931)</a></li>
                  <li class="includePageListPage"><a href="./Emily+Elliott+%281839-1924%29/index.html" class="includePageListPageUrl">Emily Elliott (1839-1924)</a></li>
                  <li class="includePageListPage"><a href="./Esther+Broadbent+%281873-1959%29/index.html" class="includePageListPageUrl">Esther Broadbent (1873-1959)</a></li>
                  <li class="includePageListPage"><a href="./Etienne+Boileau/index.html" class="includePageListPageUrl">Etienne Boileau</a></li>
                  <li class="includePageListPage"><a href="./High+Head+Chapel/index.html" class="includePageListPageUrl">High Head Chapel</a></li>
                  <li class="includePageListPage"><a href="./Ive+Bank%2C+Ivegill/index.html" class="includePageListPageUrl">Ive Bank, Ivegill</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+%28d.1720%29" class="includePageListPageUrl">John Barton (d.1720)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+of+Ivegill+%28d.1747%29" class="includePageListPageUrl">John Barton of Ivegill (d.1747)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+Senior+%281789-1852%29/index.html" class="includePageListPageUrl">John Barton Senior (1789-1852)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+the+Elder+%281754-1789%29/index.html" class="includePageListPageUrl">John Barton the Elder (1754-1789)</a></li>
                  <li class="includePageListPage"><a href="./John+Dougan+%281765-1826%29/index.html" class="includePageListPageUrl">John Dougan (1765-1826)</a></li>
                  <li class="includePageListPage"><a href="./Ormside+Hall/index.html" class="includePageListPageUrl">Ormside Hall</a></li>
                  <li class="includePageListPage"><a href="./Parishes+of+Cumberland+and+Westmorland/index.html" class="includePageListPageUrl">Parishes of Cumberland and Westmorland</a></li>
                  <li class="includePageListPage"><a href="./Rev.+Cecil+Barton+%281870-1909%29" class="includePageListPageUrl">Rev. Cecil Barton (1870-1909)</a></li>
                  <li class="includePageListPage"><a href="./Rev.+Charles+Boileau+Elliott+%281803-1875%29" class="includePageListPageUrl">Rev. Charles Boileau Elliott (1803-1875)</a></li>
                  <li class="includePageListPage"><a href="./Rev.+John+Barton+of+Cambridge+%281836-1908%29" class="includePageListPageUrl">Rev. John Barton of Cambridge (1836-1908)</a></li>
                  <li class="includePageListPage"><a href="./Ronald+Barton+%281901-1986%29/index.html" class="includePageListPageUrl">Ronald Barton (1901-1986)</a></li>
                  <li class="includePageListPage"><a href="./Shimla%2C+India/index.html" class="includePageListPageUrl">Shimla, India</a></li>
                  <li class="includePageListPage"><a href="./Solomon+Boileau+%281745-1810%29/index.html" class="includePageListPageUrl">Solomon Boileau (1745-1810)</a></li>
                  <li class="includePageListPage"><a href="./Thomas+Dougan+%28d.1797%29" class="includePageListPageUrl">Thomas Dougan (d.1797)</a></li>
      </ol></div><!-- ws:end:WikiTextIncludeRule:00 --> </span><br/>
<br/>
<span style="color: #909090;"><a class="wiki_link" href="../Editors+FAQ/index.html">Editors FAQ</a></span><br/>
<span style="color: #909090;"><a class="wiki_link" href="../Online+resources/index.html">Online resources</a></span></div>              <div class="ws-theme-nav-edit">
                              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="ws-theme-content" role="main">
        <div class="ws-theme-content-inner">
          <div class="contentBox"><div class="innerContentBox" id="WikiContent">

<script type="text/template" id="comment-footer-template">

<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="fa fa-arrow-right"></i></button>
  </div>
  <% if (ws.context.user.canAdministerWiki && !ws.comments.Manager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</script>

<script type="text/template" id="comment-content-template">
<div class="ws-box commentView">
  <div class="comment-close">
    <button type="button" class="closeme close" aria-hidden="true"><i class="fa fa-times"></i></button>
  </div>
  <div class="commentHeader">
    <p class="ws-stream-meta command-context">
      <a class="userLink userLinkPicture" href="<%= userCreated.url %>"><img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16"></a>
      <a href="<%= userCreated.url %>"><%= userCreated.username %></a>
      <% if (smartDate == '__live__') { %>
      <abbr class="timeago" title="<%= (new Date(parseInt(dateCreated, 10) * 1000)).toISOString() %>">
        <%= dateCreated %>
      </abbr>
      <% } else { %>
        <%- smartDate %>
      <% } %>
      <% if (ws.context.user.canAdministerWiki) { %>
        <i class="fa fa-trash-o contextual-command delete ws-tip" title="Delete Comment"></i>
      <% } %>
    </p>
  </div>

  <div class="commentBody">
    <div class="commentContent">
      <%= description %>
    </div>

      <% for(i = 0; i < replyPages.length; i++) { %>
        <% for(var j = 0; j < replyPages[i].digests.length; j++) { %>
      <div class="commentReply" data-id="<%= replyPages[i].digests[j].id %>">
        <p class="ws-stream-meta command-context">
          <a class="userLink userLinkPicture" href="<%= replyPages[i].digests[j].userCreated.url %>"><img class="userPicture" src="<%= replyPages[i].digests[j].userCreated.imageUrl %>" width="16" height="16"></a>
          <a href="<%= replyPages[i].digests[j].userCreated.url %>"><%= replyPages[i].digests[j].userCreated.username %></a>
          <% if (smartDate == '__live__') { %>
          <abbr class="timeago" title="<%= (new Date(parseInt(replyPages[i].digests[j].dateCreated, 10) * 1000)).toISOString() %>">
            <%= new Date(parseInt(replyPages[i].digests[j].dateCreated, 10) * 1000).toLocaleString() %>
          </abbr>
          <% } else { %>
            <%- smartDate %>
          <% } %>
          <% if (ws.context.user.canAdministerWiki) { %>
          <i class="fa fa-trash-o contextual-command delete-reply ws-tip" title="Delete Reply"></i>
          <% } %>
          </p>
        <div class="commentContent"><%= replyPages[i].digests[j].body %></div>
      </div>
        <% } %>
      <% } %>

      <form class="reply commentReply">
        <div class="form-group">
          <textarea name="reply" placeholder="Reply" class="form-control" /></textarea>
        </div>
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-primary btn-sm" name="go" value="1">Post</button>

          <% if (ws.context.user.id) { %>
            <% if (monitored) { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-monitor ws-tip active" title="You are monitoring replies."><i class="fa fa-eye"></i></button>
            <% } else { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-monitor ws-tip" title="You are not monitoring replies."><i class="fa fa-eye"></i></button>
            <% } %>
          <% } %>
          <% if (ws.context.user.canAdministerWiki) { %>
            <% if (locked) { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-lock ws-tip active" title="Replies are not allowed."><i class="fa fa-lock"></i></button>
            <% } else { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-lock ws-tip" title="Replies are allowed."><i class="fa fa-lock"></i></button>
            <% } %>
          <% } %>

          <i class="fa fa-spinner fa-spin spinner pull-right hidden"></i>
        </div>
      </form>
   </div>

   
<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="fa fa-arrow-right"></i></button>
  </div>
  <% if (ws.context.user.canAdministerWiki && !ws.comments.Manager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</div>
</script>

<script type="text/template" id="comment-composer-template">
<div class="ws-box commentView">
  <div class="commentComposer">
    <div class="comment-close">
      &nbsp;<button type="button" class="close closeme" aria-hidden="true"><i class="fa fa-times"></i></button>
    </div>
    <div class="commentHeader">
      <p class="ws-stream-meta command-context">
        <img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16">
        <a href="#" onclick="return false;"><%= userCreated.username %></a>
      </p>
    </div>
    <div class="commentBody">
      <textarea name="comment" class="compose form-control" placeholder="Comment"/></textarea><br/>
      <div class="btn-toolbar">
        <button type="button" class="btn btn-default btn-sm monitored active pull-right" style="margin-left: 6px" onclick="jQuery(this).toggleClass('active')"><i class="fa fa-eye"></i></button>
        <button type="button" class="btn btn-default btn-sm locked btn-toggle pull-right" onclick="jQuery(this).toggleClass('active')"><i class="fa fa-lock"></i></button>
        <button type="button" class="btn btn-primary btn-sm closeme">Save</button>
      </div>
    </div>
  </div>

  
<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="fa fa-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="fa fa-arrow-right"></i></button>
  </div>
  <% if (ws.context.user.canAdministerWiki && !ws.comments.Manager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</div>
</script>

<script type="text/template" id="comment-proxy-template">
<div class="comment-proxy">
  <span class="commentUser">
  <% if (userCreated) { %>
    <img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16">
  <% } else { %>
    <img class="userPicture" src="<%= ws.context.user.imageUrlPrefix %>sm.jpg" width="16" height="16">
  <% } %>
  </span>
  <span class="commentReplies"><%= 1 + _(replyPages).reduce(function(memo, page){ return memo + page.digests.length; }, 0) %></span>
</div>
</script>

<div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">
  
    <h1 class="pageTitle"><a href="./index.html">The Barton name</a></h1>
      <div class="btn-group pull-right">
          <span class="btn btn-default disabled tipme" title="you do not have permission to edit this page"><i class="fa fa-pencil fa-fw"></i> Edit</span>          <a class="btn btn-default tipme" title="no discussion posts" href="../page/messages/The+Barton+name/index.html"><i class="fa fa-comments fa-fw"></i> 0</a>          <a class="btn btn-default tipme" title="view 24 revisions" href="../page/history/The+Barton+name/index.html"><i class="fa fa-clock-o fa-fw"></i> 24</a>          <a class="btn btn-default ws-btn-more dropdown-toggle tipme" title="more options" href="../page/menu/The+Barton+name/index.html"><i class="icon-height-only fa-fw"></i>&hellip;</a>        <ul class="ws-more-menu dropdown-menu dropdown-menu-right">
              <li class=" dropdown"><a class=" ws-tag-dropdown-toggle" href="../page/tags/The+Barton+name/index.html"><span class="pull-right">2</span> <i class="fa fa-tag fa-fw"></i> Tags</a>
          <div class="dropdown-menu dropdown-menu-right ws-tag-dropdown-menu">
          



<form action="#" name="WikiTagForm" class="WikiTagForm">
  <div class="WikiTagList">
    <i class="fa fa-tag ws-action"></i>
        <ul class="list-unstyled">
                          <li><a href="../space/content/index.html">barton</a></li>
                                <li><a href="../space/content/index.html">name</a></li>
              </ul>
      </div>
  </form>      </div>
    </li>
              <li class="divider"></li>
            <li class=""><a class=" WikispacesDialogLink" href="./wiki/addmonitor/index.html"><i class="fa fa-eye fa-fw"></i> Notify</a>
    </li>
        <li class=""><a class=" WikispacesDialogLink" href="../page/rss/The+Barton+name/index.html"><i class="fa fa-rss fa-fw"></i> RSS</a>
    </li>
        <li class=""><a class="" href="../page/links/The+Barton+name/index.html"><i class="fa fa-link fa-fw"></i> Backlinks</a>
    </li>
              <li class="divider"></li>
            <li class=""><a class="" href="../page/code/The+Barton+name/index.html"><i class="fa fa-code fa-fw"></i> Source</a>
    </li>
        <li class=""><a class="" href="./index.html"><i class="fa fa-print fa-fw"></i> Print</a>
    </li>
        <li class=""><a class="" href="../page/pdf/The+Barton+name/index.html"><i class="fa fa-cloud-download fa-fw"></i> Export (PDF)</a>
    </li>
      </ul>  </div>
  </div>




  <textarea class="form-control" id="autosaveContent" style="display:none;" rows="1" cols="1"></textarea>
  <div id="autosavePrompt" style="display:none;"></div>

<div class="commentContainer">
  <div class="commentSubject">
  <div class="wiki wikiPage" id="content_view">
  <!-- ws:start:WikiTextHeadingRule:1:&lt;h1&gt; --><h1 id="toc0"><a name="Meaning"></a><!-- ws:end:WikiTextHeadingRule:1 -->Meaning</h1>
 <br/>
'Barton' is <a class="wiki_link_ext" href="./Surname/Barton/index.html" rel="nofollow" target="_blank">commonly thought</a> to mean, in essence, 'barley farm'; deriving from 'bere' ('barley') and 'tun' ('settlement' or 'enclosure'). <a class="wiki_link_ext" href="./wiki/Barton/index.html" rel="nofollow" target="_blank">Wikipedia</a> dissents and says it is an archaic English word meaning 'lands of the manor or meadow'. In <a class="wiki_link" href="../*Dalston+parish+records/index.html">early records</a> it was sometimes confused with '<a class="wiki_link_ext" href="./Surname/burton/index.html" rel="nofollow" target="_blank">Burton</a>' which is thought to mean 'settlement by a fort'; derived from 'burg' or 'burh'.<br/>
<br/>
<!-- ws:start:WikiTextHeadingRule:3:&lt;h1&gt; --><h1 id="toc1"><a name="Places"></a><!-- ws:end:WikiTextHeadingRule:3 -->Places</h1>
 <br/>
At any rate, 'Barton' is considered a 'locational surname', given to people who came from places called Barton (or perhaps Burton). There are many of those in England, as the interactive map below shows. However it is not at all uncommon for places to be named after families, and some of the places called Barton are probably named after people, rather than the other way around.<br/>
<br/>
<!-- ws:start:WikiTextMediaRule:0:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/custom/7781235?h=0&amp;w=0&quot; class=&quot;WikiMedia WikiMediaCustom&quot; id=&quot;wikitext@@media@@type=&amp;quot;custom&amp;quot; key=&amp;quot;7781235&amp;quot;&quot; title=&quot;Custom Media&quot;/&gt; --><iframe width="800" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.co.uk/maps/ms"></iframe><br/>
<small>View <a href="./maps/ms/index.html" style="color:#0000FF;text-align:left">Places called 'Barton' in the UK (red markers; also with 'Burton' in yellow)</a> in a larger map</small><!-- ws:end:WikiTextMediaRule:0 --><br/>
<br/>
<br/>
<br/>
<!-- ws:start:WikiTextHeadingRule:5:&lt;h1&gt; --><h1 id="toc2"><a name="Statistics and distribution"></a><!-- ws:end:WikiTextHeadingRule:5 -->Statistics and distribution</h1>
 <br/>
The website <a class="wiki_link_ext" href="./index.html" rel="nofollow">http://gbnames.publicprofiler.org/</a> provides <a class="wiki_link_ext" href="./Statistics.aspx" rel="nofollow" target="_blank">statistics</a> and distributions for British surnames based mainly on census data from <a class="wiki_link_ext" href="./Map.aspx" rel="nofollow" target="_blank">1881</a> and <a class="wiki_link_ext" href="./Map2.aspx" rel="nofollow" target="_blank">1998</a>:<br/>
<br/>
<!-- ws:start:WikiTextRemoteImageRule:481:&lt;img src=&quot;http://dl.dropbox.com/u/2324445/Barton%20name%201881.jpg&quot; alt=&quot;&quot; title=&quot;&quot; style=&quot;height: 628px; width: 306px;&quot; /&gt; --><img src="https://dl.dropbox.com/u/2324445/Barton%20name%201881.jpg" alt="external image Barton%20name%201881.jpg" title="external image Barton%20name%201881.jpg" style="height: 628px; width: 306px;"/><!-- ws:end:WikiTextRemoteImageRule:481 --><!-- ws:start:WikiTextRemoteImageRule:482:&lt;img src=&quot;http://dl.dropbox.com/u/2324445/Barton%20name%201998.jpg&quot; alt=&quot;&quot; title=&quot;&quot; style=&quot;height: 627px; width: 306px;&quot; /&gt; --><img src="https://dl.dropbox.com/u/2324445/Barton%20name%201998.jpg" alt="external image Barton%20name%201998.jpg" title="external image Barton%20name%201998.jpg" style="height: 627px; width: 306px;"/><!-- ws:end:WikiTextRemoteImageRule:482 --><br/>
<br/>
<br/>
<br/>


<table class="wiki_table">
    <tr>
        <td style="text-align: left;"><u><strong>Frequency</strong></u><br/>
</td>
        <td style="text-align: left;"><u><strong>1881</strong></u><br/>
</td>
        <td style="text-align: left;"><u><strong>1998</strong></u><br/>
</td>
        <td style="text-align: left;"><u><strong>Change</strong></u><br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Frequency<br/>
</td>
        <td style="text-align: left;">16207<br/>
</td>
        <td style="text-align: left;">20369<br/>
</td>
        <td style="text-align: left;">+4162<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Rank Order<br/>
</td>
        <td style="text-align: left;">243<br/>
</td>
        <td style="text-align: left;">264<br/>
</td>
        <td style="text-align: left;">-21<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Occurrences per million names<br/>
</td>
        <td style="text-align: left;">599<br/>
</td>
        <td style="text-align: left;">547<br/>
</td>
        <td style="text-align: left;">-52<br/>
</td>
    </tr>
</table>

<br/>


<table class="wiki_table">
    <tr>
        <td style="text-align: left;"><u><strong>Ethnicity of forename</strong></u><br/>
</td>
        <td style="text-align: left;"><u><strong>Percentage</strong></u><br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">British or unknown<br/>
</td>
        <td style="text-align: left;">99.16<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---English or unknown<br/>
</td>
        <td style="text-align: left;">98.09<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---Irish<br/>
</td>
        <td style="text-align: left;">0.56<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---Scottish<br/>
</td>
        <td style="text-align: left;">0.18<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---Welsh<br/>
</td>
        <td style="text-align: left;">0.33<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Jewish<br/>
</td>
        <td style="text-align: left;">0.02<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Balkan<br/>
</td>
        <td style="text-align: left;">0.01<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">French<br/>
</td>
        <td style="text-align: left;">0.04<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">German or Dutch<br/>
</td>
        <td style="text-align: left;">0.07<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Greek or Greek Cypriot<br/>
</td>
        <td style="text-align: left;">0.06<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Hispanic<br/>
</td>
        <td style="text-align: left;">0.07<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Hungarian<br/>
</td>
        <td style="text-align: left;">0.00<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Italian<br/>
</td>
        <td style="text-align: left;">0.13<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Nordic<br/>
</td>
        <td style="text-align: left;">0.06<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Polish or Czech<br/>
</td>
        <td style="text-align: left;">0.02<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Russian<br/>
</td>
        <td style="text-align: left;">0.01<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Black African<br/>
</td>
        <td style="text-align: left;">0.10<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">North African<br/>
</td>
        <td style="text-align: left;">0.02<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Turkish or Turkish Cypriot<br/>
</td>
        <td style="text-align: left;">0.02<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Other Muslim<br/>
</td>
        <td style="text-align: left;">0.10<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">Indian<br/>
</td>
        <td style="text-align: left;">0.09<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---Hindi<br/>
</td>
        <td style="text-align: left;">0.04<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---Sikh<br/>
</td>
        <td style="text-align: left;">0.02<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">---Other South Asian<br/>
</td>
        <td style="text-align: left;">0.00<br/>
</td>
    </tr>
    <tr>
        <td style="text-align: left;">East Asian<br/>
</td>
        <td style="text-align: left;">0.05<br/>
</td>
    </tr>
</table>

<br/>
<br/>
Its companion site <a class="wiki_link_ext" href="./index.html" rel="nofollow" target="_blank">http://worldnames.publicprofiler.org</a> provides similar maps for the world, and some other countries, but only North America shows any meaningful pattern:<br/>
<br/>
<!-- ws:start:WikiTextRemoteImageRule:483:&lt;img src=&quot;http://dl.dropbox.com/u/2324445/Barton%20name%20North%20America.jpg&quot; alt=&quot;&quot; title=&quot;&quot; style=&quot;height: 563px; width: 800px;&quot; /&gt; --><img src="https://dl.dropbox.com/u/2324445/Barton%20name%20North%20America.jpg" alt="external image Barton%20name%20North%20America.jpg" title="external image Barton%20name%20North%20America.jpg" style="height: 563px; width: 800px;"/><!-- ws:end:WikiTextRemoteImageRule:483 --><br/>
<br/>
This site also provides the following statistics:<br/>
<br/>


<table class="wiki_table">
    <tr>
        <td><u><strong>Top Countries</strong></u><br/>
</td>
        <td><u><strong>Frequency per million</strong></u><br/>
</td>
    </tr>
    <tr>
        <td>United Kingdom<br/>
</td>
        <td>483.62<br/>
</td>
    </tr>
    <tr>
        <td>Australia<br/>
</td>
        <td>450.97<br/>
</td>
    </tr>
    <tr>
        <td>New-Zealand<br/>
</td>
        <td>350.94<br/>
</td>
    </tr>
    <tr>
        <td>United States<br/>
</td>
        <td>278.41<br/>
</td>
    </tr>
    <tr>
        <td>Canada<br/>
</td>
        <td>220.97<br/>
</td>
    </tr>
    <tr>
        <td>Ireland<br/>
</td>
        <td>116.23<br/>
</td>
    </tr>
    <tr>
        <td>Poland<br/>
</td>
        <td>48.16<br/>
</td>
    </tr>
    <tr>
        <td>Hungary<br/>
</td>
        <td>42.45<br/>
</td>
    </tr>
    <tr>
        <td>Luxembourg<br/>
</td>
        <td>25.51<br/>
</td>
    </tr>
    <tr>
        <td>Germany<br/>
</td>
        <td>22.35<br/>
</td>
    </tr>
</table>

<br/>


<table class="wiki_table">
    <tr>
        <td><u><strong>Rank</strong></u><br/>
</td>
        <td><u><strong>Top Cities</strong></u><br/>
</td>
    </tr>
    <tr>
        <td>1<br/>
</td>
        <td>Liverpool, North West, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>2<br/>
</td>
        <td>Birmingham, West Midlands, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>3<br/>
</td>
        <td>Sheffield, Yorkshire and Humberside, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>4<br/>
</td>
        <td>Manchester, North West, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>5<br/>
</td>
        <td>Tunbridge Wells, South East, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>6<br/>
</td>
        <td>Bristol, South West, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>7<br/>
</td>
        <td>Nottingham, East Midlands, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>8<br/>
</td>
        <td>Leeds, Yorkshire and Humberside, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>9<br/>
</td>
        <td>Portsmouth, South East, United Kingdom<br/>
</td>
    </tr>
    <tr>
        <td>10<br/>
</td>
        <td>Preston, North West, United Kingdom<br/>
</td>
    </tr>
</table>

<br/>


<table class="wiki_table">
    <tr>
        <td><u><strong>Region name</strong></u><br/>
</td>
        <td><u><strong>Frequency per million</strong></u><br/>
</td>
    </tr>
    <tr>
        <td>South Wairarapa district, New Zealand<br/>
</td>
        <td>2208.72<br/>
</td>
    </tr>
    <tr>
        <td>Waitomo district, New Zealand<br/>
</td>
        <td>1457.73<br/>
</td>
    </tr>
    <tr>
        <td>New Brunswick, Canada<br/>
</td>
        <td>1183.55<br/>
</td>
    </tr>
    <tr>
        <td>Hurunui district, New Zealand<br/>
</td>
        <td>1083.42<br/>
</td>
    </tr>
    <tr>
        <td>Waikato district, New Zealand<br/>
</td>
        <td>998.28<br/>
</td>
    </tr>
    <tr>
        <td>North West, United Kingdom<br/>
</td>
        <td>894.82<br/>
</td>
    </tr>
    <tr>
        <td>Waipa district, New Zealand<br/>
</td>
        <td>887.31<br/>
</td>
    </tr>
    <tr>
        <td>Utah, United States<br/>
</td>
        <td>856.07<br/>
</td>
    </tr>
    <tr>
        <td>Westland district, New Zealand<br/>
</td>
        <td>794.66<br/>
</td>
    </tr>
    <tr>
        <td>Hamilton City, New Zealand<br/>
</td>
        <td>724.32<br/>
</td>
    </tr>
</table>

<br/>


<table class="wiki_table">
    <tr>
        <td><u><strong>Rank</strong></u><br/>
</td>
        <td><u><strong>Top forenames</strong></u><br/>
</td>
    </tr>
    <tr>
        <td>1<br/>
</td>
        <td>David<br/>
</td>
    </tr>
    <tr>
        <td>2<br/>
</td>
        <td>Robert<br/>
</td>
    </tr>
    <tr>
        <td>3<br/>
</td>
        <td>Michael<br/>
</td>
    </tr>
    <tr>
        <td>4<br/>
</td>
        <td>Richard<br/>
</td>
    </tr>
    <tr>
        <td>5<br/>
</td>
        <td>William<br/>
</td>
    </tr>
    <tr>
        <td>6<br/>
</td>
        <td>Andrew<br/>
</td>
    </tr>
    <tr>
        <td>7<br/>
</td>
        <td>Margaret<br/>
</td>
    </tr>
    <tr>
        <td>8<br/>
</td>
        <td>Christopher<br/>
</td>
    </tr>
    <tr>
        <td>9<br/>
</td>
        <td>Mary<br/>
</td>
    </tr>
    <tr>
        <td>10<br/>
</td>
        <td>Susan<br/>
</td>
    </tr>
</table>

<br/>
<br/>
<!-- ws:start:WikiTextHeadingRule:7:&lt;h1&gt; --><h1 id="toc3"><a name="Barton Historical Society"></a><!-- ws:end:WikiTextHeadingRule:7 -->Barton Historical Society</h1>
 <br/>
The Barton Historical Society operates a website at <a class="wiki_link_ext" href="./index.html" rel="nofollow">http://bartonsite.org/</a> which aims to be a '<em>gateway to the largest collection of materials related to Barton Family History on the Internet</em>'. If you're a Barton, but not one of my Bartons, then try their site.
  </div>

<div id="pageEditor" class="editorWrapper editorLayer">
  <iframe id="target_editor" name="target_editor" src="../s/blank.html/index.html" style="width:0px;height:0px;border:0"></iframe>
    <form action="../page/edit/The+Barton+name/index.html" method="post" class="editorForm" id="editorForm">
    <input type="hidden" title="goto" name="goto" value=""/>
    <input type="hidden" title="mode" name="mode" autocomplete="off" value="visual"/>
    <input type="hidden" title="version" name="version" autocomplete="off" value="349677082"/>
    <input type="hidden" title="pageComments" name="pageComments" autocomplete="off" value=""/>
    <input type="hidden" title="saveAndContinue" name="saveAndContinue" value="0"/>
    <input type="hidden" title="comment" name="comment" value=""/>
    <input type="hidden" title="commentsDisabled" name="commentsDisabled" autocomplete="off" value=""/>
    <input type="hidden" title="contentPresent" name="contentPresent" autocomplete="off" value=""/>
    <input type="hidden" title="editorCleanup" name="editorCleanup" autocomplete="off" value=""/>

    <textarea id="wsMainEditor" title="content" class="noContentHide" name="WikispacesEditorContent" style="width: 100%; position: absolute; top: -50000px; left: -50000px;" autocomplete="off"></textarea>

  <noscript>
    <h2>Javascript Required</h2>
    <p>You need to enable Javascript in your browser to edit pages.</p>
  </noscript>

  </form>
  
  
  <div id="plainTextEditor" style="position:relative;display:none" class="editorLayer">
    <textarea id="textEditor" class="autogrow"></textarea>
    <p style="clear:both;" align="right"><a href="./help.wikitext" class="js-help-link" data-help="help.wikitext">help on how to format text</a></p>
  </div>
</div>




  </div>
  <div class="commentColumn WikispacesStream"><div class="WikispacesContent WikispacesBs3"><div class="commentList"></div></div></div>
</div>

</div></div><div id="sentinel" style="clear:both"></div>        </div>
      </main>
    </div>
  </div>
</div>

<footer class="ws-theme-footer" role="contentinfo">
  <div class="ws-theme-container">
    <div class="ws-theme-footer-inner">
      <div class="WikiFooterNav WikiElement">
<a href="./index.html" rel="nofollow" class="js-help-trigger">Help</a> &middot;
<a href="./about/index.html">About</a> &middot;
<a href="./index.html" target="_new">Blog</a> &middot;
<a href="./content/pricing/index.html" rel="nofollow">Pricing</a> &middot;
<a href="./privacy/index.html" rel="nofollow">Privacy</a> &middot;
<a href="./terms/index.html" rel="nofollow">Terms</a> &middot;
<a href="./site/help/index.html" rel="nofollow"><strong>Support</strong></a></div>      <div class="WikiLicense WikiElement">Contributions to http://bartonhistory.wikispaces.com/ are licensed under a <a rel="license" href="./licenses/by-nc-sa/3.0">Creative Commons Attribution Share-Alike Non-Commercial 3.0 License</a>. <a rel="license" href="./licenses/by-nc-sa/3.0"><img src="https://www.wikispaces.com/i/creativecommons/by-nc-sa_3.0_80x15.png" width="85" height="15" alt="Creative Commons Attribution Share-Alike Non-Commercial 3.0 License"/></a><br/>Portions not contributed by visitors are Copyright 2015 Tangient LLC</div>    </div>
  </div>
</footer>

<div id="js-help-template" class="hidden">
  <div class="ws-help">
    <div class="js-help-controls WikispacesContent WikispacesBs3">
      <a href="./site/gettingstarted/off/index.html" class="btn btn-default hidden js-getting-started-off pull-right">Turn off "Getting Started"</a>
      <ol class="breadcrumb">
        <li class="js-special-breadcrumb active">
          <a href="./index.html" data-breadcrumb="0">Home</a>
        </li>
        <li class="js-ellipsis hidden js-special-breadcrumb">
          ...
        </li>
        <li class="js-spinner hidden js-special-breadcrumb"><i class="fa fa-spinner fa-spin"></i></li>
      </ol>
    </div>
    <div class="ws-help-content wiki">Loading...</div>
  </div>
</div>
</div>
<script src="https://www.wikispaces.com/s/nogz/j1q92z99-editorc.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--
ws.namespace('ws.attributes');
ws.namespace('ws.stream');
ws.attributes.pageId = 52459517;
ws.attributes.version = 349677082;
ws.attributes.showEditor = true;
ws.attributes.editUrl = "https:\/\/web.archive.org\/web\/20150120072742\/http:\/\/bartonhistory.wikispaces.com\/page\/edit\/The+Barton+name?goto=http%3A%2F%2Fbartonhistory.wikispaces.com%2FThe%2BBarton%2Bname";
ws.attributes.userCanEdit = false;
ws.stream.userCanPostMessage = false;
ws.stream.hideTimeline = true;
ws.stream.shareSource = "https:\/\/web.archive.org\/web\/20150120072742\/http:\/\/bartonhistory.wikispaces.com\/page\/shares\/The+Barton+name";

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? '//web.archive.org/web/20150120072742/http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function() {
  ws.common.addJsonNotices({"warning":[],"error":[],"info":[],"success":[]});
});

jQuery(document).ready(function($) {
  
  function tipPlacement() {
    return this.$element.closest('.ws-menu-bar .btn-group').is('.open') ? 'top' : 'bottom';
  }

  

  $('.ws-menu-bar').each(function() {
    var $menuBar = $(this);
    var $tagDropdown = $menuBar.find('.ws-tag-dropdown-menu');
    $menuBar.find('.tipme').tooltip({placement: tipPlacement, container: '.ws-menu-bar'});

    
    $menuBar.find('.ws-btn-more').click(ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .btn-group').is('.open')) {
        ws.common.hideMorePageBar();
      } else {
        ws.common.showMorePageBar();
      }
    }));

    $menuBar.on('click', '.ws-tag-dropdown-toggle', ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .dropdown').is('.open')) {
        ws.common.hideTagDropdown();
      } else {
        ws.common.showTagDropdown();
      }
    }));

    $(document.body).click(function(e) {
      var $target = $(e.target);
      if (!$target.closest('.ws-more-menu').closest('.ws-menu-bar').is($menuBar)
          || $target.closest('a').is('.WikispacesDialogLink')) {
        ws.common.hideMorePageBar();
      }
      if ($tagDropdown.length && !$target.closest('.ws-tag-dropdown-menu').is($tagDropdown)) {
        ws.common.hideTagDropdown();
      }
    });
    
  });
});


jQuery(document).ready(function($) {
  $('.ws-more-menu').on('click', 'a', function(e) {
    if ($(this).is('.disabled')) {
      e.preventDefault();
    }
  });
});


jQuery(document).ready(function() {
  ws.editor.canEdit = false;
  var editUrl = '/page/edit/The+Barton+name/index.html';

  jQuery('#js-edit-from-template').change(function() {
    window.location = ws.common.addUriParams(editUrl, [['template', jQuery(this).val()]]);
  });
});


jQuery(document).ready(function() {
  ws.editor.loadEditorLibs('/site/editorlibs/en/07z93j80.js');
});


ws.editor.startEditor = function (moreCoreOptions, moreMainOptions) {
  ws.editor.canEdit = true;

  var coreOptions = {
    'content_css': ['/stylesheet/editori/217420326D.css']
  };

  // The stylesheet is passed in as a string, turn it into an array
  // Add bootstrap styles to the editor, if we are in a theme that has full screen bootstrap
  if (jQuery('body').is('.WikispacesBs3')) {
    coreOptions.content_css.push('//s/internal-bootstrap-body.css');
  }

  var mainOptions = {
    'wssave_cancel_url': '/The+Barton+name',
    'wsimage_upload_url': '/file/multiupload/index.html',
    'wsimage_max_file_size_mb': '20',
    'wsimage_page_view_group': ''
  };

  ws.editor.loadEditor(jQuery.extend(coreOptions, moreCoreOptions), jQuery.extend(mainOptions, moreMainOptions));
};

  var wikispaces_page_version = '349677082';

  jQuery(document).ready(function() {
    ws.editor.enableButtons();
  });



--></script><!-- w18 221 wki:82:84(2) dql:30:37(6) mem:2:21(29) tot:221:221(1) -->

</body>
</html><!--
     FILE ARCHIVED ON 07:27:42 Jan 20, 2015 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:02:26 Apr 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.661
  exclusion.robots: 0.05
  exclusion.robots.policy: 0.039
  esindex: 0.01
  cdx.remote: 1122.43
  LoadShardBlock: 173.872 (3)
  PetaboxLoader3.datanode: 108.075 (4)
  PetaboxLoader3.resolve: 109.948 (2)
  load_resource: 98.271
-->