<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="/1999/xhtml/index.html">
<head><script type="text/javascript" src="./_static/js/bundle-playback.js" charset="utf-8"></script>
<script type="text/javascript" src="./_static/js/wombat.js" charset="utf-8"></script>
<script>window.RufflePlayer=window.RufflePlayer||{};window.RufflePlayer.config={"autoplay":"on","unmuteOverlay":"hidden","showSwfDownload":true};</script>
<script type="text/javascript" src="./_static/js/ruffle/ruffle.js"></script>
<script type="text/javascript">
    __wm.init("/web/index.html");
  __wm.wombat("/Isabel+Catherine+Moule+%281884-1959%29/index.html","20140707121106","./index.html","web","/_static/index.html",
	      "1404735066");
</script>
<link rel="stylesheet" type="text/css" href="./_static/css/banner-styles.css" />
<link rel="stylesheet" type="text/css" href="./_static/css/iconochive.css" />
<!-- End Wayback Rewrite JS Include -->

<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="search" href="./space/opensearch/index.html" type="application/opensearchdescription+xml" title="Wikispaces Search (BartonHistory Wiki)"/>
<link rel="alternate" type="application/x-wiki" title="Edit This Page" href="../page/edit/Isabel+Catherine+Moule+(1884-1959)/index.html"/>
<link rel="alternate" title="BartonHistory - All Changes" href="./wiki/xmla/index.html" type="application/rss+xml"/>
<link rel="alternate" title="bartonhistory : Isabel Catherine Moule (1884-1959) - Discussion" href="./message/xml/Isabel%20Catherine%20Moule%20%281884-1959%29/index.html" type="application/rss+xml"/>
<link rel="alternate" title="bartonhistory : Isabel Catherine Moule (1884-1959) - Edits" href="./page/xml/Isabel+Catherine+Moule+%281884-1959%29/index.html" type="application/rss+xml"/>
<link rel="microsummary" href="./page/microsummary/Isabel+Catherine+Moule+%281884-1959%29/edits"/>
<link rel="microsummary" href="./page/microsummary/Isabel+Catherine+Moule+%281884-1959%29/messages"/>
<script type="text/javascript">
var wikispaces_isUserLoggedIn = false;
var wikispaces_isUserOrganizer = false;
var wikispaces_isMain = true;
var wikispaces_username = '';
var wikispaces_spaceName = 'bartonhistory';
var wikispaces_projectName = '';
var wikispaces_wikiName = 'bartonhistory';
var wikispaces_wikiText = 'BartonHistory';
var wikispaces_isDefaultSpace = '1';
var wikispaces_method = 'view';
var wikispaces_object = 'page';
var wikispaces_page = 'Isabel Catherine Moule (1884-1959)';
var wikispaces_id = '';
var wikispaces_domain = 'wikispaces.com';
var wikispaces_main_domain = 'wikispaces.com';
var wikispaces_asset_url_prefix = '/script>
<script type=/index.html"text/javascript">

if (typeof ws === 'undefined') ws = {};
if (typeof ws.context === 'undefined') ws.context = {};
ws.context = {
  instance: {
    id: '1',
    url: 'wikispaces.com',
    isMain: true,
    supportsGoogleDocs: false
  },
  user: {
    id: '',
    username: '',
    status: '',
    locale: 'en',
    imageUrl: '/i/user_none_lg.jpg'
  },
  wiki: {
    id: '4761411',
    name: 'bartonhistory',
    text: 'BartonHistory',
    module: 'B',
    isClassroom: false
  },
  project: {
    id: '',
    name: ''
  },
  space: {
    id: '4761411',
    name: 'bartonhistory',
    isDefaultSpace: true
  },

  environment_name: 'prod',
  userCanAdministerWiki: false,

  path: {
    object: 'page',
    method: 'view',
    page: 'Isabel Catherine Moule (1884-1959)',
    id: ''
  },

  settings: {
    main_domain: 'wikispaces.com',
    asset_url_prefix: '/script>
<script type=/index.html"text/template" id="dialog-template">
<div class="modal fade" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><%= header %></h4>
      </div>
      <div class="modal-body">
        <%= body %>
      </div>
    </div>
  </div>
</div>
</script>

<title>BartonHistory - Isabel Catherine Moule (1884-1959)</title>
<meta charset="utf-8"/>
<link rel="apple-touch-icon" sizes="144x144" href="https://www.wikispaces.com/_/z6371z4x/i/logo-144.png"/>
<link rel="apple-touch-icon" sizes="114x114" href="https://www.wikispaces.com/_/j5j77xz3/i/logo-114.png"/>
<link rel="apple-touch-icon" sizes="72x72" href="https://www.wikispaces.com/_/vq8j5432/i/logo-72.png"/>
<link rel="apple-touch-icon" href="https://www.wikispaces.com/_/38515190/i/logo-57.png"/>
<link rel="shortcut icon" href="https://www.wikispaces.com/_/55v9k02z/i/logo-16.png"/>
<style type="text/css">
/* Standard theme styles */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
body {
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin: 0;
}
.ws-theme-header-inner,
.ws-theme-body-inner,
.ws-theme-footer-inner,
.ws-theme-content-inner,
.ws-theme-sidebar-inner {
  position: relative;
}
.ws-theme-header-inner:after,
.ws-theme-body-inner:after,
.ws-theme-footer-inner:after,
.ws-theme-content-inner:after,
.ws-theme-sidebar-inner:after,
.ws-theme-menu-inner:after {
  content: " ";
  visibility: hidden;
  display: block;
  height: 0;
  clear: both;
}
.ws-theme-content, .ws-theme-sidebar {
  overflow-x: auto;
}
.ws-theme-footer {
  text-align: right;
}
.ws-theme-footer a, .ws-theme-footer a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
}
@media (min-width: 992px) {
  .ws-theme-container {
    width: 970px;
  }
  .ws-theme-content {
    width: 770px;
    min-height: 496px;
  }
}
@media (min-width: 1200px) {
  .ws-theme-container {
    width: 1170px;
  }
  .ws-theme-content {
    width: 970px;
    min-height: 600px;
  }
}
/* End standard theme styles */
</style>
<!--[if IE 8]>
<style type="text/css">
  .ws-theme-container {
    width: 750px;
    margin-right: auto;
    margin-left: auto;
  }
  .ws-theme-content {
    width: 550px;
    min-height: 384px;
    float: right;
  }
  .ws-theme-sidebar {
    width: 200px;
    float: left;
  }
</style>
<![endif]-->
<style type="text/css">
/* Theme-specific styles */
body {
  background-color: #DEDEDE;
}

.ws-theme-container {
  margin: 0 5px;
  width: auto;
}

.ws-theme-header .WikiSearch .WikiSearchInput,
.ws-theme-sidebar .WikiSearch .WikiSearchInput,
.ws-theme-footer .WikiSearch .WikiSearchInput {
  width: 100%;
}

.ws-theme-header a,
.ws-theme-header a:hover,
.ws-theme-sidebar a,
.ws-theme-footer a {
  color: inherit;
  text-decoration: none;
}
.ws-theme-sidebar a:hover,
.ws-theme-footer a:hover {
  text-decoration: underline;
}
.ws-theme-header img,
.ws-theme-sidebar img,
.ws-theme-footer img {
  border: none;
}

.ws-theme-content,
.ws-theme-sidebar {
  overflow-x: visible;
}

.ws-theme-header-inner,
.ws-theme-content-inner,
.ws-theme-menu-inner,
.ws-theme-footer-inner {
  padding: 15px;
  border-radius: 8px;
}

.ws-theme-header,
.ws-theme-sidebar {
  display: none;
}

.ws-theme-header,
.ws-theme-footer {
  color: #FFF;
}

.ws-theme-header-inner,
.ws-theme-footer-inner {
  background-color: #000000;
}

.ws-theme-body-inner {
  padding: 7px 0;
}

.ws-theme-content-inner {
  background-color: #FFF;
}

.ws-theme-footer {
  text-align: left;
}
.ws-theme-footer-inner {
  padding: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ws-theme-footer .WikiLicense img {
  vertical-align: text-bottom;
}

@media (min-width: 768px) {
  .ws-theme-container {
    margin: 0 10px;
    width: auto;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }

  .ws-theme-header-inner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .ws-theme-body-inner {
    padding: 15px 0;
  }

  .ws-theme-content {
    width: auto;
    margin-left: 200px;
    padding-left: 15px;
    float: none;
  }
  .ws-theme-content-inner {
    float: left;
    width: 100%;
  }

  .ws-theme-sidebar {
    margin-top: -15px;
    color: #000000;
  }
  .ws-theme-sidebar .ws-theme-menu {
    margin-top: 15px;
  }
  .ws-theme-sidebar .ws-theme-menu-inner {
    padding: 10px;
    background-color: #333333;
  }
  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .WikispacesNavbar {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
  .ws-theme-sidebar .ws-theme-nav-edit a {
    color: inherit;
  }
}
/* End theme-specific styles */
</style>
<!--[if IE 8]>
<style type="text/css">
  .ws-theme-container {
    margin: 0 10px;
    width: auto;
  }

  .ws-theme-header,
  .ws-theme-sidebar {
    display: block;
  }
  .ws-theme-header-inner {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .ws-theme-body-inner {
    padding: 15px 0;
  }

  .ws-theme-content {
    width: auto;
    margin-left: 200px;
    padding-left: 15px;
    float: none;
  }
  .ws-theme-content-inner {
    float: left;
    width: 100%;
  }

  .ws-theme-sidebar {
    margin-top: -15px;
    color: #000000;
  }
  .ws-theme-sidebar .ws-theme-menu {
    margin-top: 15px;
  }
  .ws-theme-sidebar .ws-theme-menu-inner {
    padding: 10px;
    background-color: #333333;
  }
  .ws-theme-sidebar .WikiActions {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .ws-theme-sidebar .WikiActions > li {
    padding: 2px;
  }
  .ws-theme-sidebar .WikiCustomNav ol {
    padding-left: 16px;
  }
  .ws-theme-sidebar .WikiCustomNav ol.includePageList {
    padding-left: 0;
  }
  .ws-theme-sidebar .WikispacesNavbar {
    margin: 0 -10px;
    padding: 0 10px;
  }
  .ws-theme-sidebar .ws-theme-nav-edit {
    color: #666;
    text-align: center;
  }
  .ws-theme-sidebar .ws-theme-nav-edit a {
    color: inherit;
  }
</style>
<![endif]-->
<link rel="stylesheet" href="https://www.wikispaces.com/stylesheet/viewi/217420326D.css" type="text/css"/>
<link rel="stylesheet" href="https://www.wikispaces.com/s/nogz/11j56vz6-internal-bootstrap.css" type="text/css"/>
<link rel="stylesheet" href="https://www.wikispaces.com/s/nogz/j5vv0jzz-internal.css" type="text/css"/>

<!--[if lte IE 8]>
<script src="./s/nogz/kx8zzxj7-html5shiv.min.js" type="text/javascript"></script>
<![endif]-->
<script src="https://www.wikispaces.com/s/nogz/q3zjj4kx-common.min.js" type="text/javascript"></script>

<script type="text/javascript">
  var _gaq = _gaq || [];

  var wsGoogleAccount = 'UA-80504-1';
  _gaq.push(['_setAccount', wsGoogleAccount]);
  _gaq.push(['_gat._anonymizeIp']);
  _gaq.push(['_setDomainName', 'wikispaces.com']);
  _gaq.push(['_setAllowLinker', true]);
  _gaq.push(['_trackPageview']);

  _gaq.push(['_setCustomVar', 2, 'Authenticated', 'Guest', 2]);
</script></head>
<body><div id="js-fixed-header-holder"><div class="WikispacesContent WikispacesBs3" role="banner">
  
  <div class="ws-main-top-nav visible-xs">
    <div class="navbar navbar-static-top" style="margin-bottom: 0;">
      <div class="container">
                <div class="navbar-header">
          <div class="visible-xs pull-left">
            <a href="../space/menu/index.html" class="WikispacesDialogLink btn navbar-btn">
              <i class="icon-reorder"></i>
            </a>
          </div>
          <div class="visible-xs pull-right js-globalnav-popover-container">
                        <a href="./site/signin/index.html" class="btn navbar-btn ws-mobile-guest-username js-globalnav-popover-trigger">
              guest
            </a>
                        <div class="hidden js-globalnav-popover-content">
              <div class="WikispacesContent WikispacesBs3">
                <div class="WikiInternalHeaderNav noHide">
  <div class="WikiInternalHeaderNavMenu">
                          
                  <span class="WikiInternalHeaderNavMenuArea"><a href="./user/join/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="./index.html">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="./site/signin/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div>              </div>
            </div>
          </div>
          <div class="ws-navbar-middle-xs">
            <div class="navbar-brand" role="navigation">
              <a href="./index.html" class="ws-logo"></a>
              <i class="icon-angle-right"></i>
              <a href="./index.html">BartonHistory</a>
                              <i class="icon-angle-right"></i> <a href="./home/index.html">Home</a>
              
            </div>
          </div>
          <form action="../search/view/index.html" method="post" class="navbar-form ws-include-xs pull-left ws-navbar-search hidden-xs" role="search"><input type="text" class="form-control search-query" name="q" value="" placeholder="Search"/> </form>
        </div>
      </div>
    </div>
  </div>
      <div class="hidden-xs"><div class="WikiInternalHeaderNav WikiElement floating">
  <div class="WikiInternalHeaderNavMenu">
                                    <span class="WikiInternalHeaderNavMenuArea guestUserName">guest</span><span class="slideMarker divider">|</span>
        
                  <span class="WikiInternalHeaderNavMenuArea"><a href="./user/join/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Join</a></span>

          <span class="divider">|</span>
        
        <span class="WikiInternalHeaderNavMenuArea"><a class="js-help-trigger" rel="nofollow" href="./index.html">Help</a></span>

        <span class="divider">|</span>
      
      <span class="WikiInternalHeaderNavMenuArea"><a href="./site/signin/index.html" rel="nofollow" class="WikispacesXDomainDialogLink">Sign In</a></span>
      </div>
</div></div>
  </div></div><div id="js-fixed-header-offset">
<header class="ws-theme-header" role="banner">
  <div class="ws-theme-container">
    <div class="ws-theme-header-inner">
      <a href="./index.html" class="WikiLogo WikiElement"><img src="../space/showlogo/1342818532/logo.png/index.html" alt="BartonHistory"/></a>    </div>
  </div>
</header>

<div class="ws-theme-body">
  <div class="ws-theme-container">
    <div class="ws-theme-body-inner">
      <nav class="ws-theme-sidebar" role="navigation">
        <div class="ws-theme-sidebar-inner">
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <ul class="WikiActions WikiElement WikiControls">
    <li id="WikiActionHome"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="./index.html"><i class="icon-home ws-icon-fixed"></i></a><a href="./index.html">Wiki Home</a></div></li>
    <li id="WikiActionChanges"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../wiki/changes/index.html"><i class="icon-time ws-icon-fixed"></i></a><a href="../wiki/changes/index.html">Recent Changes</a></div></li>
    <li id="WikiActionPagesAndFiles"><div><span class="WikiActionSupplemental" style="float: right;"></span><a href="../space/content/index.html"><i class="icon-file-text-alt ws-icon-fixed"></i></a><a href="../space/content/index.html">Pages and Files</a></div></li>
    <li id="WikiActionMembers"><div class="js-member-link"><span class="WikiActionSupplemental" style="float: right;"></span><a href="../wiki/members/index.html"><i class="icon-user ws-icon-fixed"></i></a><a href="../wiki/members/index.html">Members</a></div></li>
</ul>
              <form action="../search/view/index.html" method="post" class="WikiSearch WikiElement" role="search"><input type="text" class="form-control WikiSearchInput" name="q" value="" placeholder="Search"/> </form>            </div>
          </div>
          <div class="ws-theme-menu">
            <div class="ws-theme-menu-inner">
              <div class="WikiCustomNav WikiElement wiki"><span style="color: #c0c0c0;"><a class="wiki_link" href="../Home/index.html">Home</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../The+Barton+name/index.html">The Barton name</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Royal+ancestry/index.html">Royal ancestry</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Famous+connections/index.html">Famous connections</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Living+connections/index.html">Living connections</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Coats+of+Arms/index.html">Coats of arms</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../DNA/index.html">DNA</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Mysteries/index.html">Mysteries</a></span><br/>
<span style="color: #808080;"><a class="wiki_link" href="../To+Do+list/index.html">To Do list</a></span><br/>
<span style="color: #c0c0c0; cursor: pointer;"><a class="wiki_link" href="../Living+connections/index.html">Contact me</a></span><br/>
<br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../People/index.html">All people</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Places/index.html">All places</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Objects/index.html">All objects</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Sources/index.html">All sources</a></span><br/>
<span style="color: #c0c0c0;"><a class="wiki_link" href="../Contents/index.html">All pages</a></span><br/>
<br/>
<span style="color: #c0c0c0;"><u>SELECTED PAGES</u></span><br/>
<span style="color: #c0c0c0;"><!-- ws:start:WikiTextIncludeRule:00:&lt;img src=&quot;http://www.wikispaces.com/site/embedthumbnail/include/pageList?w=200&amp;h=100&quot; class=&quot;WikiMedia WikiMediaInclude&quot; id=&quot;wikitext@@include@@component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;favourite&amp;quot; limit=&amp;quot;40&amp;quot;&quot; title=&quot;Include pageList: component=&amp;quot;pageList&amp;quot; hideInternal=&amp;quot;true&amp;quot; tag=&amp;quot;favourite&amp;quot; limit=&amp;quot;40&amp;quot;&quot; /&gt; --><div class="includeBody"><ol class="includePageList">
              <li class="includePageListPage"><a href="./%2ABernard+Barton+the+Quaker+Poet+Correspondence/index.html" class="includePageListPageUrl">*Bernard Barton the Quaker Poet Correspondence</a></li>
                  <li class="includePageListPage"><a href="./%2ABilly+Barton+Diary+and+Letters/index.html" class="includePageListPageUrl">*Billy Barton Diary and Letters</a></li>
                  <li class="includePageListPage"><a href="./%2ABroadbent+1976/index.html" class="includePageListPageUrl">*Broadbent 1976</a></li>
                  <li class="includePageListPage"><a href="./%2ACecil+Barton+Mountaineering+Journals/index.html" class="includePageListPageUrl">*Cecil Barton Mountaineering Journals</a></li>
                  <li class="includePageListPage"><a href="./%2ADougan+1826/index.html" class="includePageListPageUrl">*Dougan 1826</a></li>
                  <li class="includePageListPage"><a href="./%2AEmily+Dougan%27s+1856+Sketchbook/index.html" class="includePageListPageUrl">*Emily Dougan&#039;s 1856 Sketchbook</a></li>
                  <li class="includePageListPage"><a href="./%2AJohn+Barton+the+Elder+Correspondence/index.html" class="includePageListPageUrl">*John Barton the Elder Correspondence</a></li>
                  <li class="includePageListPage"><a href="./%2AMemoirs+of+Emily+Elliott/index.html" class="includePageListPageUrl">*Memoirs of Emily Elliott</a></li>
                  <li class="includePageListPage"><a href="./%2AMemoirs+of+John+Barton/index.html" class="includePageListPageUrl">*Memoirs of John Barton</a></li>
                  <li class="includePageListPage"><a href="./%2ANicolson+et+al+1777/index.html" class="includePageListPageUrl">*Nicolson et al 1777</a></li>
                  <li class="includePageListPage"><a href="./%2ARonald+Barton+Diary+and+Letters/index.html" class="includePageListPageUrl">*Ronald Barton Diary and Letters</a></li>
                  <li class="includePageListPage"><a href="./Ann+%28d.1748%29" class="includePageListPageUrl">Ann (d.1748)</a></li>
                  <li class="includePageListPage"><a href="./Barton+%28hamlet+%26+parish%29/index.html" class="includePageListPageUrl">Barton (hamlet &amp; parish)</a></li>
                  <li class="includePageListPage"><a href="./Bernard+Barton+of+Carlisle+%281728-1773%29/index.html" class="includePageListPageUrl">Bernard Barton of Carlisle (1728-1773)</a></li>
                  <li class="includePageListPage"><a href="./Bernard+Barton+the+Quaker+poet+%281784-1849%29/index.html" class="includePageListPageUrl">Bernard Barton the Quaker poet (1784-1849)</a></li>
                  <li class="includePageListPage"><a href="./Charles+Elliott+%281776-1856%29/index.html" class="includePageListPageUrl">Charles Elliott (1776-1856)</a></li>
                  <li class="includePageListPage"><a href="./Charles+Elliott+the+cabinet-maker+%281752-1832%29/index.html" class="includePageListPageUrl">Charles Elliott the cabinet-maker (1752-1832)</a></li>
                  <li class="includePageListPage"><a href="./Chateau+Castelnau/index.html" class="includePageListPageUrl">Chateau Castelnau</a></li>
                  <li class="includePageListPage"><a href="./Col.+John+Edward+Broadbent+%281845-1931%29" class="includePageListPageUrl">Col. John Edward Broadbent (1845-1931)</a></li>
                  <li class="includePageListPage"><a href="./Emily+Elliott+%281839-1924%29/index.html" class="includePageListPageUrl">Emily Elliott (1839-1924)</a></li>
                  <li class="includePageListPage"><a href="./Esther+Broadbent+%281873-1959%29/index.html" class="includePageListPageUrl">Esther Broadbent (1873-1959)</a></li>
                  <li class="includePageListPage"><a href="./Etienne+Boileau/index.html" class="includePageListPageUrl">Etienne Boileau</a></li>
                  <li class="includePageListPage"><a href="./High+Head+Chapel/index.html" class="includePageListPageUrl">High Head Chapel</a></li>
                  <li class="includePageListPage"><a href="./Ive+Bank%2C+Ivegill/index.html" class="includePageListPageUrl">Ive Bank, Ivegill</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+%28d.1720%29" class="includePageListPageUrl">John Barton (d.1720)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+of+Ivegill+%28d.1747%29" class="includePageListPageUrl">John Barton of Ivegill (d.1747)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+Senior+%281789-1852%29/index.html" class="includePageListPageUrl">John Barton Senior (1789-1852)</a></li>
                  <li class="includePageListPage"><a href="./John+Barton+the+Elder+%281754-1789%29/index.html" class="includePageListPageUrl">John Barton the Elder (1754-1789)</a></li>
                  <li class="includePageListPage"><a href="./John+Dougan+%281765-1826%29/index.html" class="includePageListPageUrl">John Dougan (1765-1826)</a></li>
                  <li class="includePageListPage"><a href="./Ormside+Hall/index.html" class="includePageListPageUrl">Ormside Hall</a></li>
                  <li class="includePageListPage"><a href="./Parishes+of+Cumberland+and+Westmorland/index.html" class="includePageListPageUrl">Parishes of Cumberland and Westmorland</a></li>
                  <li class="includePageListPage"><a href="./Rev.+Cecil+Barton+%281870-1909%29" class="includePageListPageUrl">Rev. Cecil Barton (1870-1909)</a></li>
                  <li class="includePageListPage"><a href="./Rev.+Charles+Boileau+Elliott+%281803-1875%29" class="includePageListPageUrl">Rev. Charles Boileau Elliott (1803-1875)</a></li>
                  <li class="includePageListPage"><a href="./Rev.+John+Barton+of+Cambridge+%281836-1908%29" class="includePageListPageUrl">Rev. John Barton of Cambridge (1836-1908)</a></li>
                  <li class="includePageListPage"><a href="./Ronald+Barton+%281901-1986%29/index.html" class="includePageListPageUrl">Ronald Barton (1901-1986)</a></li>
                  <li class="includePageListPage"><a href="./Shimla%2C+India/index.html" class="includePageListPageUrl">Shimla, India</a></li>
                  <li class="includePageListPage"><a href="./Solomon+Boileau+%281745-1810%29/index.html" class="includePageListPageUrl">Solomon Boileau (1745-1810)</a></li>
                  <li class="includePageListPage"><a href="./Thomas+Dougan+%28d.1797%29" class="includePageListPageUrl">Thomas Dougan (d.1797)</a></li>
      </ol></div><!-- ws:end:WikiTextIncludeRule:00 --> </span><br/>
<br/>
<span style="color: #909090;"><a class="wiki_link" href="../Editors+FAQ/index.html">Editors FAQ</a></span><br/>
<span style="color: #909090;"><a class="wiki_link" href="../Online+resources/index.html">Online resources</a></span></div>              <div class="ws-theme-nav-edit">
                              </div>
            </div>
          </div>
        </div>
      </nav>
      <main class="ws-theme-content" role="main">
        <div class="ws-theme-content-inner">
          <div class="contentBox"><div class="innerContentBox">

<script type="text/template" id="comment-footer-template">

<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="icon-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right"></i></button>
  </div>
  <% if (ws.context.userCanAdministerWiki && !WikispacesCommentManager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</script>

<script type="text/template" id="comment-content-template">
<div class="ws-box commentView">
  <div class="comment-close">
    <button type="button" class="closeme close" aria-hidden="true">&times;</button>
  </div>
  <div class="commentHeader">
    <p class="ws-stream-meta command-context">
      <a class="userLink userLinkPicture" href="<%= userCreated.url %>"><img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16"></a>
      <a href="<%= userCreated.url %>"><%= userCreated.username %></a>
      <% if (smartDate == '__live__') { %>
      <abbr class="timeago" title="<%= (new Date(parseInt(dateCreated, 10) * 1000)).toISOString() %>">
        <%= dateCreated %>
      </abbr>
      <% } else { %>
        <%- smartDate %>
      <% } %>
      <% if (ws.context.userCanAdministerWiki) { %>
        <i class="icon-trash contextual-command delete ws-tip" title="Delete Comment"></i>
      <% } %>
    </p>
  </div>

  <div class="commentBody">
    <div class="commentContent">
      <%= description %>
    </div>

      <% for(i = 0; i < replyPages.length; i++) { %>
        <% for(var j = 0; j < replyPages[i].digests.length; j++) { %>
      <div class="commentReply" data-id="<%= replyPages[i].digests[j].id %>">
        <p class="ws-stream-meta command-context">
          <a class="userLink userLinkPicture" href="<%= replyPages[i].digests[j].userCreated.url %>"><img class="userPicture" src="<%= replyPages[i].digests[j].userCreated.imageUrl %>" width="16" height="16"></a>
          <a href="<%= replyPages[i].digests[j].userCreated.url %>"><%= replyPages[i].digests[j].userCreated.username %></a>
          <% if (smartDate == '__live__') { %>
          <abbr class="timeago" title="<%= (new Date(parseInt(replyPages[i].digests[j].dateCreated, 10) * 1000)).toISOString() %>">
            <%= new Date(parseInt(replyPages[i].digests[j].dateCreated, 10) * 1000).toLocaleString() %>
          </abbr>
          <% } else { %>
            <%- smartDate %>
          <% } %>
          <% if (ws.context.userCanAdministerWiki) { %>
          <i class="icon-trash contextual-command delete-reply ws-tip" title="Delete Reply"></i>
          <% } %>
          </p>
        <div class="commentContent"><%= replyPages[i].digests[j].body %></div>
      </div>
        <% } %>
      <% } %>

      <form class="reply commentReply">
        <div class="form-group">
          <textarea name="reply" placeholder="Reply" class="form-control" /></textarea>
        </div>
        <div class="btn-toolbar">
          <button type="submit" class="btn btn-primary btn-sm" name="go" value="1">Post</button>

          <% if (ws.context.user.id) { %>
            <% if (monitored) { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-monitor ws-tip active" title="You are monitoring replies."><i class="icon-eye-open"></i></button>
            <% } else { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-monitor ws-tip" title="You are not monitoring replies."><i class="icon-eye-open"></i></button>
            <% } %>
          <% } %>
          <% if (ws.context.userCanAdministerWiki) { %>
            <% if (locked) { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-lock ws-tip active" title="Replies are not allowed."><i class="icon-lock"></i></button>
            <% } else { %>
            <button type="button" class="btn btn-default btn-sm pull-right toggle-lock ws-tip" title="Replies are allowed."><i class="icon-lock"></i></button>
            <% } %>
          <% } %>

          <i class="icon-spinner icon-spin spinner pull-right hidden"></i>
        </div>
      </form>
   </div>

   
<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="icon-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right"></i></button>
  </div>
  <% if (ws.context.userCanAdministerWiki && !WikispacesCommentManager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</div>
</script>

<script type="text/template" id="comment-composer-template">
<div class="ws-box commentView">
  <div class="commentComposer">
    <div class="comment-close">
      &nbsp;<button type="button" class="close closeme" aria-hidden="true">&times;</button>
    </div>
    <div class="commentHeader">
      <p class="ws-stream-meta command-context">
        <img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16">
        <a href="#" onclick="return false;"><%= userCreated.username %></a>
      </p>
    </div>
    <div class="commentBody">
      <textarea name="comment" class="compose form-control" placeholder="Comment"/></textarea><br/>
      <div class="btn-toolbar">
        <button type="button" class="btn btn-default btn-sm monitored active pull-right" style="margin-left: 6px" onclick="jQuery(this).toggleClass('active')"><i class="icon-eye-open"></i></button>
        <button type="button" class="btn btn-default btn-sm locked btn-toggle pull-right" onclick="jQuery(this).toggleClass('active')"><i class="icon-lock"></i></button>
        <button type="button" class="btn btn-primary btn-sm closeme">Save</button>
      </div>
    </div>
  </div>

  
<div class="commentFooter modal-footer">
  <div class="pull-left">
    <button type="button" class="btn btn-default btn-sm previous"><i class="icon-arrow-left"></i></button>
    <button type="button" class="btn btn-default btn-sm next"><i class="icon-arrow-right"></i></button>
  </div>
  <% if (ws.context.userCanAdministerWiki && !WikispacesCommentManager.readOnly) { %>
  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm remove">Remove</button>
  </div>
  <% } %>
</div>

</div>
</script>

<script type="text/template" id="comment-proxy-template">
<div class="comment-proxy">
  <span class="commentUser">
  <% if (userCreated) { %>
    <img class="userPicture" src="<%= userCreated.imageUrl %>" width="16" height="16">
  <% } else { %>
    <img class="userPicture" src="./i/user_none_sm.jpg" width="16" height="16">
  <% } %>
  </span>
  <span class="commentReplies"><%= 1 + _(replyPages).reduce(function(memo, page){ return memo + page.digests.length; }, 0) %></span>
</div>
</script>


<div class="ws-menu-bar WikiControls WikispacesContent WikispacesBs3">
  
    <h1 class="pageTitle"><a href="./index.html">Isabel Catherine Moule (1884-1959)</a></h1>
      <div class="btn-group pull-right">
          <span class="btn btn-default disabled tipme" title="you do not have permission to edit this page"><i class="icon-pencil ws-icon-fixed"></i> Edit</span>          <a class="btn btn-default tipme" title="no discussion posts" href="../page/messages/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-comments ws-icon-fixed"></i> 0</a>          <a class="btn btn-default tipme" title="view 1 revision" href="../page/history/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-time ws-icon-fixed"></i> 1</a>          <a class="btn btn-default ws-btn-more dropdown-toggle tipme" title="more options" href="../page/menu/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-height-only ws-icon-fixed"></i>&hellip;</a>        <ul class="ws-more-menu dropdown-menu dropdown-menu-right">
              <li class=" dropdown"><a class=" ws-tag-dropdown-toggle" href="../page/tags/Isabel+Catherine+Moule+(1884-1959)/index.html"><span class="pull-right">7</span> <i class="icon-tag ws-icon-fixed"></i> Tags</a>
          <div class="dropdown-menu dropdown-menu-right ws-tag-dropdown-menu">
          



<form action="#" name="WikiTagForm" class="WikiTagForm">
  <div class="WikiTagList">
    <i class="icon-tag ws-action"></i>
        <ul class="list-unstyled">
                          <li><a href="../space/content/index.html">19thc</a></li>
                                <li><a href="../space/content/index.html">20thc</a></li>
                                <li><a href="../space/content/index.html">catherine</a></li>
                                <li><a href="../space/content/index.html">de vere</a></li>
                                <li><a href="../space/content/index.html">isabel</a></li>
                                <li><a href="../space/content/index.html">moule</a></li>
                                <li><a href="../space/content/index.html">people</a></li>
              </ul>
      </div>
  </form>      </div>
    </li>
              <li class="divider"></li>
            <li class=""><a class=" WikispacesDialogLink" href="./wiki/addmonitor/index.html"><i class="icon-eye-open ws-icon-fixed"></i> Notify</a>
    </li>
        <li class=""><a class=" WikispacesDialogLink" href="../page/rss/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-rss ws-icon-fixed"></i> RSS</a>
    </li>
        <li class=""><a class="" href="../page/links/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-link ws-icon-fixed"></i> Backlinks</a>
    </li>
              <li class="divider"></li>
            <li class=""><a class="" href="../page/code/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-code ws-icon-fixed"></i> Source</a>
    </li>
        <li class=""><a class="" href="./index.html"><i class="icon-print ws-icon-fixed"></i> Print</a>
    </li>
        <li class=""><a class="" href="../page/pdf/Isabel+Catherine+Moule+(1884-1959)/index.html"><i class="icon-cloud-download ws-icon-fixed"></i> Export (PDF)</a>
    </li>
      </ul>  </div>
  </div>




  <textarea class="form-control" id="autosaveContent" style="display:none;" rows="1" cols="1"></textarea>
  <div id="autosavePrompt" style="display:none;"></div>

<div class="commentContainer">
  <div class="commentSubject">
  <div class="wiki wikiPage" id="content_view">
  <ul><li>Born 28 February 1884, younger daughter of <a class="wiki_link" href="../Mary+Elliott+(b.1844)/index.html">Mary Elliott (b.1844)</a> and <a class="wiki_link" href="../Rev.+Handley+Moule+(1841-1920)/index.html">Rev. Handley Moule (1841-1920)</a>.</li><li>Married <a class="wiki_link" href="../R.+S.+de+Vere/index.html">R. S. de Vere</a>.</li><li>Died 1959, aged ~75.</li></ul><br/>
<br/>
<!-- ws:start:WikiTextHeadingRule:0:&lt;h1&gt; --><h1 id="toc0"><a name="Children"></a><!-- ws:end:WikiTextHeadingRule:0 -->Children</h1>
<br/>
With <a class="wiki_link" href="../R.+S.+de+Vere/index.html">R. S. de Vere</a>:<br/>
<ol><li>Joan de Vere - adopted.</li></ol>
  </div>

<div id="pageEditor" class="editorWrapper editorLayer">
  <iframe id="target_editor" name="target_editor" src="../s/blank.html/index.html" style="width:0px;height:0px;border:0"></iframe>
    <form action="../page/edit/Isabel+Catherine+Moule+(1884-1959)/index.html" method="post" class="editorForm" id="editorForm">
    <input type="hidden" title="goto" name="goto" value=""/>
    <input type="hidden" title="mode" name="mode" autocomplete="off" value="visual"/>
    <input type="hidden" title="version" name="version" autocomplete="off" value="187689781"/>
    <input type="hidden" title="pageComments" name="pageComments" autocomplete="off" value=""/>
    <input type="hidden" title="saveAndContinue" name="saveAndContinue" value="0"/>
    <input type="hidden" title="comment" name="comment" value=""/>
    <input type="hidden" title="commentsDisabled" name="commentsDisabled" autocomplete="off" value=""/>
    <input type="hidden" title="contentPresent" name="contentPresent" autocomplete="off" value=""/>
    <input type="hidden" title="editorCleanup" name="editorCleanup" autocomplete="off" value=""/>

    <textarea id="wsMainEditor" title="content" class="noContentHide" name="WikispacesEditorContent" style="width: 100%; height: 400px; position: absolute; top: -50000px; left: -50000px;" autocomplete="off"></textarea>

  <noscript>
    <h2>Javascript Required</h2>
    <p>You need to enable Javascript in your browser to edit pages.</p>
  </noscript>

  </form>
  
  
  <div id="plainTextEditor" style="position:relative;display:none" class="editorLayer">
    <textarea id="textEditor" class="autogrow"></textarea>
    <p style="clear:both;" align="right"><a href="./help.wikitext" class="js-help-link" data-help="help.wikitext">help on how to format text</a></p>
  </div>
</div>




  </div>
  <div class="commentColumn WikispacesStream"><div class="WikispacesContent WikispacesBs3"><div class="commentList"></div></div></div>
</div>

</div></div><div id="sentinel" style="clear:both"></div>        </div>
      </main>
    </div>
  </div>
</div>

<footer class="ws-theme-footer" role="contentinfo">
  <div class="ws-theme-container">
    <div class="ws-theme-footer-inner">
      <div class="WikiFooterNav WikiElement">
<a href="./index.html" rel="nofollow" class="js-help-trigger">Help</a> &middot;
<a href="./about/index.html">About</a> &middot;
<a href="./index.html" target="_new">Blog</a> &middot;
<a href="./content/pricing/index.html" rel="nofollow">Pricing</a> &middot;
<a href="./privacy/index.html" rel="nofollow">Privacy</a> &middot;
<a href="./terms/index.html" rel="nofollow">Terms</a> &middot;
<a href="./site/help/index.html" rel="nofollow"><strong>Support</strong></a> &middot;
<a href="../space/subscribe/upgrade/index.html"><strong>Upgrade</strong></a>
</div>      <div class="WikiLicense WikiElement">Contributions to http://bartonhistory.wikispaces.com/ are licensed under a <a rel="license" href="./licenses/by-nc-sa/3.0">Creative Commons Attribution Share-Alike Non-Commercial 3.0 License</a>. <a rel="license" href="./licenses/by-nc-sa/3.0"><img src="https://www.wikispaces.com/i/creativecommons/by-nc-sa_3.0_80x15.png" width="85" height="15" alt="Creative Commons Attribution Share-Alike Non-Commercial 3.0 License"/></a><br/>Portions not contributed by visitors are Copyright 2014 Tangient LLC</div>    </div>
  </div>
</footer>

<div id="js-help-template" class="hidden">
  <div class="ws-help">
    <div class="js-help-controls WikispacesContent WikispacesBs3">
      <a href="./site/gettingstarted/off/index.html" class="btn btn-default hidden js-getting-started-off pull-right">Turn off "Getting Started"</a>
      <ol class="breadcrumb">
        <li class="js-special-breadcrumb active">
          <a href="./index.html" data-breadcrumb="0">Home</a>
        </li>
        <li class="js-ellipsis hidden js-special-breadcrumb">
          ...
        </li>
        <li class="js-spinner hidden js-special-breadcrumb"><i class="icon-spinner icon-spin"></i></li>
      </ol>
    </div>
    <div class="ws-help-content wiki">Loading...</div>
  </div>
</div>
</div>
<script src="https://www.wikispaces.com/s/nogz/76229vk9-editorc.min.js" type="text/javascript"></script>
<script type="text/javascript">
<!--

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? '//web.archive.org/web/20140707121106/http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

jQuery(document).ready(function() {
  ws.common.addJsonNotices({"warning":[],"error":[],"info":[],"success":[]});
});

jQuery(document).ready(function($) {
  
  function tipPlacement() {
    return this.$element.closest('.ws-menu-bar .btn-group').is('.open') ? 'top' : 'bottom';
  }

  

  $('.ws-menu-bar').each(function() {
    var $menuBar = $(this);
    var $tagDropdown = $menuBar.find('.ws-tag-dropdown-menu');
    $menuBar.find('.tipme').tooltip({placement: tipPlacement, container: '.ws-menu-bar'});

    
    $menuBar.find('.ws-btn-more').click(ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .btn-group').is('.open')) {
        ws.common.hideMorePageBar();
      } else {
        ws.common.showMorePageBar();
      }
    }));

    $menuBar.on('click', '.ws-tag-dropdown-toggle', ws.common.makeLinkClickFunction(function(e) {
      if ($(this).closest('.ws-menu-bar .dropdown').is('.open')) {
        ws.common.hideTagDropdown();
      } else {
        ws.common.showTagDropdown();
      }
    }));

    $(document.body).click(function(e) {
      var $target = $(e.target);
      if (!$target.closest('.ws-more-menu').closest('.ws-menu-bar').is($menuBar)
          || $target.closest('a').is('.WikispacesDialogLink')) {
        ws.common.hideMorePageBar();
      }
      if ($tagDropdown.length && !$target.closest('.ws-tag-dropdown-menu').is($tagDropdown)) {
        ws.common.hideTagDropdown();
      }
    });
    
  });
});


jQuery(document).ready(function($) {
  $('.ws-more-menu').on('click', 'a', function(e) {
    if ($(this).is('.disabled')) {
      e.preventDefault();
    }
  });
});

var wikispaces_can_edit = false;

jQuery(document).ready(function() {
  var editUrl = '/page/edit/Isabel+Catherine+Moule+%281884-1959%29/index.html';

  jQuery('#js-edit-from-template').change(function() {
    window.location = ws.common.addUriParams(editUrl, [['template', jQuery(this).val()]]);
  });
});


jQuery(document).ready(function() {
  ws.editor.loadEditorLibs('/site/editorlibs/en/q6729132.js');
});


ws.editor.startEditor = function (moreCoreOptions, moreMainOptions) {
  wikispaces_can_edit = true;

  var coreOptions = {
    'content_css': '/stylesheet/editori/217420326D.css'
  };

  var mainOptions = {
    'wssave_cancel_url': '/Isabel+Catherine+Moule+%281884-1959%29',
    'wsimage_upload_url': '/file/multiupload/index.html',
    'wsimage_max_file_size_mb': '10',
    'wsimage_page_view_group': ''
  };

  ws.editor.loadEditor(jQuery.extend(coreOptions, moreCoreOptions), jQuery.extend(mainOptions, moreMainOptions));
};

  var wikispaces_page_version = '187689781';

  jQuery(document).ready(function() {
    ws.editor.enableButtons();
  });



--></script><!-- w1 360 wki:76:86(3) tot:360:360(1) mog:45:45(1) mem:5:43(34) dql:17:26(7) -->

</body>
</html><!--
     FILE ARCHIVED ON 12:11:06 Jul 07, 2014 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:28:21 Apr 25, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.462
  exclusion.robots: 0.046
  exclusion.robots.policy: 0.039
  esindex: 0.02
  cdx.remote: 38.464
  LoadShardBlock: 77.334 (3)
  PetaboxLoader3.datanode: 92.854 (4)
  PetaboxLoader3.resolve: 122.197 (2)
  load_resource: 139.61
-->